<tr class="main-row">
  <td data-title="{{dt.provider}}">
    <small>{{model.cluster.displayProvider}}</small>
  </td>
  <td data-title="{{dt.name}}">
    {{#link-to-external "authenticated.cluster" model.cluster.id}}
      {{model.cluster.displayName}}
    {{/link-to-external}}

    {{#if (and model.displayWarnings.length (not-eq model.state "waiting") (not-eq model.state "provisioning"))}}
      {{#tooltip-element
          type="tooltip-basic"
          tooltipTemplate='tooltip-multi-lines'
          model=model.displayWarnings
          inlineBlock=true
      }}
        <i class="icon icon-alert text-error" />
      {{/tooltip-element}}
    {{/if}}

    {{#if model.certsExpiring}}
      {{#tooltip-element
         type="tooltip-expiring"
         model=model
         tooltipTemplate="tooltip-static"
         aria-describedby="tooltip-base"
         tooltipFor="tooltipCertExpire"
      }}
        <i class="icon icon-alert text-warning" />
      {{/tooltip-element}}
    {{/if}}

    {{cluster-template-revision-upgrade-notification cluster=model}}
  </td>
  <td data-title="{{dt.project}}">
    <a href="{{href-to "authenticated.project" model.id}}">
      {{model.displayName}}
    </a>
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  
  {{#if (eq model.cluster.state "inactive")}}
    <td class="text-center">
      {{t "clusterRow.noHosts"}}
    </td>
  {{else}}
    <td data-title="{{dt.resource}}">
      {{#if model.resourceQuota.limit}}
        Pods: 
        {{#if model.resourceQuota.limit.pods}}
          <small>{{model.resourceQuota.limit.pods}}</small>
        {{else}}
          <span class="text-muted">{{t "generic.na"}}</span>
        {{/if}}
      {{/if}}
    </td>
  {{/if}}
  <td data-title="{{dt.created}}">
    {{date-str model.created}}
  </td>
  <td data-title="{{dt.actions}} "class="actions">
    {{action-menu model=model}}
  </td>
</tr>

{{#if model.showTransitioningMessage}}
  {{error-sub-row fullColspan=fullColspan model=model}}
{{/if}}