{{#containers-header showGroup=false}}
  <button {{action 'importYaml'}} class="btn btn-sm bg-primary" disabled={{rbac-prevents resource="service" scope="project" permission="create"}}>
    <i class="icon icon-yaml"></i>
    {{t 'nav.containers.importCompose'}}
  </button>
  {{#link-to "authenticated.project.dns.new" scope.currentProject.id class="btn btn-sm bg-primary" disabled=(rbac-prevents resource="service" scope="project" permission="create")}}
    <i class="icon icon-register"></i>
    {{t 'nav.containers.addDns'}}
  {{/link-to}}
{{/containers-header}}

{{#if rows.length}}
<section class="pl-0 pr-0">
  {{#if hubpop.cardUse}}
    {{#card-list
      classNames="bordered"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      descending=descending
      subRows=true
      groupByKey="namespaceId"
      groupByRef="namespace"
      pagingLabel="pagination.dnsRecord"
      subHeaders=containerHeaders
      subSearchField="instances"
      headers=headers  
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |sortable kind inst dt|
    }}
      {{#if (eq kind "headSection")}}     
        {{namespace-group-card model=inst.ref}}     
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          
          <div class="kb-lst-header">
            <div class="initial initial-{{inst.initial}}">
              <span>{{inst.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=inst.id}}
                </div>
                <span class="tit">
                  <a href="{{href-to "authenticated.project.dns.detail" inst.id}}">
                    {{inst.displayName}}
                  </a>
                </span>              
                {{action-menu model=inst}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=inst}}</span>
                <span class="date">{{date-str inst.created}}</span>
              </div>
            </div>
          </div>

          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{dt.displayType}}</strong>
                <span>{{inst.displayType}}</span>
              </li>
              <li>
                <strong>{{dt.target}}</strong>
                <span>
                  {{#if (eq inst.recordType "workload")}}
                    {{#each inst.targetWorkloads as |record idx|}}
                      <span>
                        <a href="{{href-to "workload" record.id}}">{{record.displayName}}</a>
                      </span>
                    {{/each}}
                  {{else if (eq inst.recordType "alias")}}
                    {{#each inst.targetDnsRecords as |record idx|}}
                      <span>
                        <a href="{{href-to "authenticated.project.dns.detail" record.id}}">{{record.displayName}}</a>
                      </span>
                    {{/each}}
                  {{else if (eq inst.recordType "selector")}}
                    {{#each inst.selectorArray as |obj|}}
                      <span class="tag-xs bg-info">{{obj.key}}={{obj.value}}</span>
                    {{/each}}
                  {{else}}
                    {{nl-to-br inst.displayTarget}}
                  {{/if}}
                </span>
              </li>
            </ul>
            {{#if model.showTransitioningMessage}}
              <small class="{{inst.stateColor}}">{{uc-first inst.transitioningMessage}}</small>
            {{/if}}
          </div>

        </div>   
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}     
        
      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="bordered"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      descending=descending
      subRows=true
      groupByKey="namespaceId"
      groupByRef="namespace"
      pagingLabel="pagination.dnsRecord"
      subHeaders=containerHeaders
      subSearchField="instances"
      headers=headers 
      cardChoice=true
      hubpop=hubpop
      as |sortable kind inst dt|
    }}
      {{#if (eq kind "row")}}
        {{dns-row
          model=inst
          searchText=searchText
          subMatches=sortable.subMatches
          fullColspan=sortable.fullColspan
          dt=dt
        }}
      {{else if (eq kind "group")}}
        {{namespace-group model=inst.ref fullColspan=sortable.fullColspan}}
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'dnsPage.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'dnsPage.noData'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
{{else}}
<section class="row_wrap panel_add type3 kb-panel mb-20">
  <div class="guide_area type4">
    <span class="txt">
      발견된 서비스가 존재하지 않습니다.<br>
      필요 시, <strong>'레코드 등록' 또는 'YAML 가져오기'를 통해</strong> 직접 타겟 IP를 등록하실 수 있습니다. 
    </span>
  </div>
</section>
{{/if}}