<section class="header clearfix">
  <h1 class="pull-left">{{t 'projectsListNamespacePage.header'}}</h1>
  <div class="vertical-middle"></div>
  <div class="right-buttons">
    <a href="#" {{action "newNs"}} class="btn bg-primary btn-sm ml-10" disabled={{rbac-prevents resource="namespace" scope="cluster" permission="create"}}><i class="icon icon-register"></i> {{t 'namespacesPage.addNamespace'}}</a>
  </div>
</section>

<section>
  {{#if hubpop.cardUse}}
    {{#card-list
          tableClassNames="bordered"
          paging=true
          pagingLabel="pagination.namespace"
          groupByKey="projectId"
          groupByRef="project"
          headers=headers
          bulkActions=true
          body=allNamespace
          descending=descending
          sortBy=sortBy
          cardInit=3
          cardChoice=true
          hubpop=hubpop
          as |cardList kind obj dt|
      }}
      {{#if (eq kind "headSection")}}      
        <div class="lst-header-left">
          {{#if obj.ref.type}}
            <span class="tit">{{t 'projectsListNamespacePage.current'}}</span>
            {{#if obj.ref.description}}
              <p class="text-small text-muted m-0">{{linkify obj.ref.description}}</p>
            {{/if}}        
          {{else}}
            {{t 'projectsListNamespacePage.notIn'}}        
          {{/if}}
        </div>      
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{obj.initial}}">
              <span>{{obj.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=obj.id}}
                </div>
                <span class="tit">{{obj.name}}</span>              
                {{action-menu model=obj}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=obj}}</span>
                <span class="date">{{date-calendar obj.created}}</span>
              </div>
            </div>
          </div>
        </div>   
      {{else if (eq kind "nomatch")}}
        
        <!-- 
        <tr><td colspan="4" class="text-center text-muted lacsso pt-20 pb-20">{{t 'namespacesPage.noMatch'}}</td></tr>
        -->
      {{else if (eq kind "norows")}}      
        <div class="row_wrap panel_add type3 kb-panel mb-20">
          <div class="guide_area namespace">
            <span class="txt">
              등록된 네임스페이스가 존재하지 않습니다.<br>
              <strong>‘네임스페이스 등록’</strong>을 통해 용도에 따라 자유롭게 네임스페이스를 등록한 후 이용해 주세요.
            </span>
          </div>
        </div>
      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
        tableClassNames="bordered"
        paging=true
        pagingLabel="pagination.namespace"
        groupByKey="projectId"
        groupByRef="project"
        headers=headers
        bulkActions=true
        body=allNamespace
        descending=descending
        sortBy=sortBy
        extraSearchFields=extraSearchFields
        cardChoice=true
        hubpop=hubpop
        as |sortable kind obj dt|
    }}
      {{#if (eq kind "row")}}
        <tr class="main-row">
          <td class="row-check" valign="middle" style="padding-top: 2px;">
            {{check-box nodeId=obj.id}}
          </td>
          <td>
            {{badge-state model=obj}}
          </td>
          <td>
            {{obj.name}}
            {{#if obj.autoInjectionEnabled}}
              <div class="istio istio-autoinjection"></div>
            {{/if}}
            {{#if obj.description}}
              <p class="text-small text-muted m-0">{{linkify obj.description}}</p>
            {{/if}}
          </td>
          <td data-title="{{dt.created}}" class="text-right pr-20">
            {{date-calendar obj.created}}
          </td>
          <td data-title="{{t 'generic.actions'}}:" class="actions">
            {{action-menu model=obj}}
          </td>
        </tr>
      {{else if (eq kind "group")}}
        {{#if obj.ref.type}}
          <tr class="group-row">
            <td colspan="{{sortable.fullColspan}}" class="pl-10">
              {{t 'projectsListNamespacePage.current'}}
              {{#if obj.ref.description}}
                <p class="text-small text-muted m-0">{{linkify obj.ref.description}}</p>
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr class="group-row">
            <td colspan="{{sortable.fullColspan}}" class="pl-10">
              {{t 'projectsListNamespacePage.notIn'}}
            </td>
          </tr>
        {{/if}}
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'namespacesPage.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'namespacesPage.noData'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>