<section class="header clearfix">
  <div class="right-buttons">
    <button
      {{action "importYaml"}}
      class="btn btn-sm bg-primary"
      disabled={{rbac-prevents resource="storageclass" scope="cluster" permission="create"}}
    >
      <i class="icon icon-yaml"></i>
      {{t "nav.containers.importCompose"}}
    </button>
    {{#link-to "authenticated.cluster.storage.classes.new" class="btn btn-sm bg-primary" disabled=(rbac-prevents resource="storageclass" scope="cluster" permission="create")}}
      <i class="icon icon-register"></i>
      {{t 'storageClassPage.addActionLabel'}}
    {{/link-to}}
  </div>

  <h1>{{t 'storageClassPage.header'}}</h1>
</section>

{{#if rows.length}}
  {{#if hubpop.cardUse}}
    {{#card-list 
      tableClassNames="bordered"
      paging=true
      pagingLabel="pagination.storageClass"
      headers=headers
      bulkActions=true
      descending=descending
      body=rows
      sortBy=sortBy
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |sortable kind obj dt|
      }}
      {{#if (eq kind "headSection")}}

      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{obj.initial}}">
              <span>{{obj.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=obj.id}}
                </div>
                <span class="tit">
                  <a href="{{href-to "authenticated.cluster.storage.classes.detail" obj.id}}">
                    {{obj.displayName}}
                  </a>
                </span>              
                {{action-menu model=obj}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=obj}}</span>
                <span class="date">{{date-str obj.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{dt.provisioner}}</strong>
                <span>{{obj.displayProvisioner}}</span>
              </li>
              <li>
                <strong>{{dt.default}}</strong>
                {{#if obj.isDefault}}
                  <span>
                    <i class="icon icon-star-fill text-warning ml-20"/>
                  </span>
                {{/if}}
                
              </li>
            </ul>
          </div>
        </div> 
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}  

      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      tableClassNames="bordered"
      paging=true
      pagingLabel="pagination.storageClass"
      headers=headers
      bulkActions=true
      descending=descending
      body=rows
      sortBy=sortBy
      cardChoice=true
      hubpop=hubpop
      as |sortable kind obj dt|
    }}
      {{#if (eq kind "row")}}
        <tr class="main-row">
          <td class="row-check" valign="middle" style="padding-top: 2px;">
            {{check-box nodeId=obj.id}}
          </td>
          <td data-title="{{dt.state}}">
            {{badge-state model=obj}}
          </td>
          <td data-title="{{dt.name}}">
            <a href="{{href-to "authenticated.cluster.storage.classes.detail" obj.id}}">{{obj.displayName}}</a>
          </td>
          <td data-title="{{dt.provisioner}}">
            {{obj.displayProvisioner}}
          </td>
          <td data-title="{{dt.default}}">
            {{#if obj.isDefault}}<i class="icon icon-star-fill text-warning ml-20"/>{{/if}}
          </td>
          <td data-title="{{dt.actions}}" class="actions">
            {{action-menu model=obj}}
          </td>
        </tr>
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'storageClassPage.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'storageClassPage.noData'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
{{else}}
<div>데이터 없음</div>
{{/if}}