<div class="pull-left">
  <span class="tit">
    {{#if model.displayName}}
      {{t 'namespaceGroup.label' name=model.displayName}}
    {{else}}
      {{t noGroup}}
    {{/if}}
  </span>
</div>
<div class="right-buttons">
  {{#if model}}
    {{action-menu model=model}}
  {{/if}}
</div>

{{#if model.showTransitioningMessage}}
  <tr class="group-row group-row-error">
    <td colspan="{{fullColspan}}" class="text-small {{model.stateColor}}">
      {{uc-first model.transitioningMessage}}
    </td>
  </tr>
{{/if}}
