<section class="header clearfix">
  <div class="right-buttons">
    <button
      {{action "importYaml"}}
      class="btn btn-sm bg-primary"
      disabled={{rbac-prevents resource="persistentvolume" scope="cluster" permission="create"}}
    >
      <i class="icon icon-yaml"></i>
      {{t "nav.containers.importCompose"}}
    </button>
    {{#link-to "authenticated.cluster.storage.persistent-volumes.new" class="btn btn-sm bg-primary" disabled=(rbac-prevents resource="persistentvolume" scope="cluster" permission="create")}}
      <i class="icon icon-register"></i>
      {{t 'persistentVolumePage.addActionLabel'}}
    {{/link-to}}
  </div>

  <h1>{{t 'persistentVolumePage.header'}}</h1>
</section>

{{persistent-volume-table rows=model.persistentVolumes}}
