<section class="header clearfix">
  <h1 class="pull-left">{{t "nodesPage.header"}}</h1>
  <div class="right-buttons">
    <button class="btn bg-primary btn-sm ml-10" {{action "editCluster"}}>
      <i class="icon icon-edit"></i>
      <span>{{t "nodesPage.editCluster"}}</span>
    </button>
  </div>
</section>

{{#if rows.length}}
  {{#if hubpop.cardUse}}
    {{#card-list 
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      descending=descending
      groupByKey=groupByKey
      groupByRef="nodePool"
      subRows=true
      pagingLabel="pagination.node"
      extraSearchFields=extraSearchFields
      headers=headers 
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      initialAttr="displayName"
      as |sortable kind node dt|
      }}
      {{#if (eq kind "headSection")}}
        {{#if node.ref}}
          <div class="pull-left">
            <span class="tit">
              {{t "nodesPage.nodePoolGroup" name=node.ref.hostnamePrefix}}
            </span>
            {{#if node.ref.nodeTemplate}}
              <span class="text-small text-muted m-0">
                {{node.ref.nodeTemplate.displayProvider}} &ndash;  {{node.ref.nodeTemplate.displayLocation}}/{{node.ref.nodeTemplate.displaySize}} ({{node.ref.nodeTemplate.name}})
              </span>
            {{/if}}
          </div>
          <div class="right-buttons">
            <p class="m-0">
              {{t "pagination.node" pages=1 count=node.ref.quantity}}
            </p>
            {{#if capabilities.nodePoolsCanScale}}
              <p class="m-0">
                <button
                  class="btn btn-xs btn-round btn-r-sm bg-primary"
                  {{action "scaleDownPool" node.ref.id}}
                  disabled={{lte node.ref.quantity 1}}
                >
                  <i class="icon icon-minus icon-fw"/>
                </button>
                <button style="margin-left: -5px;" class="btn btn-xs btn-round btn-r-sm bg-primary" {{action "scaleUpPool" node.ref.id}}>
                  <i class="icon icon-plus icon-fw"/>
                </button>
              </p>
            {{/if}}
            {{#if node}}
              {{action-menu model=node.ref}}
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{node.initial}}">
              <span>{{node.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=node.id}}
                </div>
                <span class="tit"> 
                  {{#if (eq view "global")}}
                    {{#if node.clusterId}}
                      <a href="{{href-to "authenticated.cluster.monitoring.node-detail" node.clusterId node.id}}">{{node.displayName}}</a>
                    {{else}}
                      {{node.displayName}}
                    {{/if}}
                  {{else}}
                    <a href="{{href-to "authenticated.cluster.monitoring.node-detail" node.clusterId node.id}}">{{node.displayName}}</a>
                  {{/if}}
                </span>              
                {{action-menu model=node}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=node}}</span>
                <span class="date">{{date-str node.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{dt.version}}</strong>
                {{#if node.info.kubernetes.kubeletVersion}}
                  <span>{{node.info.kubernetes.kubeletVersion}}</span>
                  {{#if node.versionBlurb}}
                    <span class="text-small text-muted">
                      <i class="icon {{node.engineIcon}}"></i>
                      {{node.versionBlurb}}
                    </span>
                  {{/if}}
                  {{#if (and node.osInfo scope.currentCluster.isWindows)}}
                    <span class="text-small text-muted">
                      <i class="icon icon-fw icon-{{node.osInfo}}"></i>
                      <span class="text-capitalize">
                        {{node.osInfo}}
                      </span>
                    </span>
                  {{/if}}
                {{else}}
                  <span class="text-muted">
                    {{t "generic.na"}}
                  </span>
                {{/if}}
              </li>

              <li>
                <strong>{{dt.cpu}}</strong>
                {{#if node.cpuUsage}}
                  <span>
                    {{node.cpuUsage}}
                  </span>
                {{else}}
                  <span class="text-muted">
                    {{t "generic.na"}}
                  </span>
                {{/if}}
              </li>

              <li>
                <strong>{{dt.memory}}</strong>
                {{#if node.memoryUsage}}
                  <span>
                    {{node.memoryUsage}}
                  </span>
                {{else}}
                  <span class="text-muted">
                    {{t "generic.na"}}
                  </span>
                {{/if}}
              </li>

              <li>
                <strong>{{dt.pod}}</strong>
                {{#if node.podUsage}}
                  <span>
                    {{node.podUsage}}
                  </span>
                {{else}}
                  <span class="text-muted">
                    {{t "generic.na"}}
                  </span>
                {{/if}}
              </li>
            </ul>
          </div>
        </div> 
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}  

      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      descending=descending
      groupByKey=groupByKey
      groupByRef="nodePool"
      subRows=true
      pagingLabel="pagination.node"
      extraSearchFields=extraSearchFields
      headers=headers 
      cardChoice=true
      hubpop=hubpop
      as |sortable kind node dt|
      }}
      {{#if (eq kind "row")}}
        {{node-row
          view="cluster"
          model=node
          fullColspan=sortable.fullColspan
          dt=dt
        }}
      {{else if (eq kind "group")}}
        {{#if node.ref}}
          <tr class="group-row">
            <td colspan={{sub sortable.fullColspan 3}} class="pl-10">
              <p class="m-0 mt-5">
                {{t "nodesPage.nodePoolGroup" name=node.ref.hostnamePrefix}}
              </p>
              {{#if node.ref.nodeTemplate}}
                <p class="text-small text-muted m-0">
                  {{node.ref.nodeTemplate.displayProvider}} &ndash;  {{node.ref.nodeTemplate.displayLocation}}/{{node.ref.nodeTemplate.displaySize}} ({{node.ref.nodeTemplate.name}})
                </p>
              {{/if}}
            </td>
            <td colspan="2" data-title="{{dt.actions}}" class="text-right">
              <p class="m-0">
                {{t "pagination.node" pages=1 count=node.ref.quantity}}
              </p>
              {{#if capabilities.nodePoolsCanScale}}
                <p class="m-0">
                  <button
                    class="btn btn-xs btn-round btn-r-sm bg-primary"
                    {{action "scaleDownPool" node.ref.id}}
                    disabled={{lte node.ref.quantity 1}}
                  >
                    <i class="icon icon-minus icon-fw"/>
                  </button>
                  <button style="margin-left: -5px;" class="btn btn-xs btn-round btn-r-sm bg-primary" {{action "scaleUpPool" node.ref.id}}>
                    <i class="icon icon-plus icon-fw"/>
                  </button>
                </p>
              {{/if}}
            </td>
            <td data-title="{{dt.actions}}" class="actions">
              {{action-menu model=node.ref}}
            </td>
          </tr>
        {{/if}}
      {{else if (eq kind "nomatch")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">
            {{t "nodesPage.table.noMatch"}}
          </td>
        </tr>
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">
            {{t "nodesPage.table.noData"}}
          </td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
{{else}}
<!--norows -->
{{/if}}
