<div class="kb-lst">
  <div class="kb-lst-header">
    <div class="initial ico_cluster ic_1"> 
      <span></span>
    </div>
    <div>
      <div class="tit-wrap">
        <span class="tit">
          <a href="{{href-to "authenticated.project" model.id}}">
            {{model.displayName}}
          </a>

          {{#if (and model.displayWarnings.length (not-eq model.state "waiting") (not-eq model.state "provisioning"))}}
            {{#tooltip-element
                type="tooltip-basic"
                tooltipTemplate='tooltip-multi-lines'
                model=model.displayWarnings
                inlineBlock=true
            }}
              <i class="icon icon-alert text-error" />
            {{/tooltip-element}}
          {{/if}}

          {{#if model.certsExpiring}}
            {{#tooltip-element
              type="tooltip-expiring"
              model=model
              tooltipTemplate="tooltip-static"
              aria-describedby="tooltip-base"
              tooltipFor="tooltipCertExpire"
            }}
              <i class="icon icon-alert text-warning" />
            {{/tooltip-element}}
          {{/if}}
        </span>              
        {{action-menu model=model}}              
      </div>
      <div class="state-wrap">
        <span class="state">{{badge-state model=model}}</span>
        <span class="date">{{date-str model.created}}</span>
      </div>
    </div>
  </div>
  <div class="kb-lst-content">
    <ul class="ico_cluster_s">
      {{#if model.resourceQuota.limit}}
      <li class="ic_s3">
        <strong>Pods: </strong>
        {{#if model.resourceQuota.limit.pods}}
          <span>{{model.resourceQuota.limit.pods}}</span>
        {{else}}
          <span>{{t "generic.na"}}</span>
        {{/if}}
      </li>
      <li class="ic_s4">
        <strong>Volumes: </strong>
        <span>0</span>
      </li>
      {{/if}}
    </ul>
  </div>
</div> 