<div id="underlay" class="underlay hide"></div>
<div id="loading-underlay" class="underlay"></div>
<div id="loading-overlay" class="loading-overlay">
  {{#if settings.isRancher}}
    <div class="square">
      <div class="lid">
      </div>
    </div>
  {{else}}
    <div class="whiteboxloader">
      <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
      </div>
    </div>
  {{/if}}
</div>

{{outlet "overlay"}}
{{outlet "error"}}


<div id="application" class="container no-inline-space">
  
  {{!-- header_top --}}
  <div id="header_top">
    <div class="inner">
      <div class="pull-left">
        <h1 class="logo"><a href="{{app.webBaseUrl}}/#/"><img src="/assets/images/kb/top_logo.png" alt="HUB POP"></a></h1>
      </div>
      <div class="pull-right">
        <div class="align_r">
          <div class="col-tuto">
            <button id="btn-set" type="button" class="btn" title="튜토리얼" {{action "downloadGuide"}}>
              <span class="ico"></span>
            </button>
          </div>
          <div class="col-my">
            <div class="dropdown {{userInfo.roleIcon}}">
              <button id="btn-my" type="button" class="btn" {{action "toggleExpand"}} >
                <p class="name">{{userInfo.name}}</p>
                <span class="ico arr"></span>
              </button>
			  {{#if expandAll}}
              <ul class="dropdown-menu dropdown-menu-right" role="btn-my" aria-labelledby="btn-my" style="display:block;">
                  <li><a href="{{app.webBaseUrl}}/#/comm/memberEdit"><span class="ico ico1"></span>개인정보 수정</a></li>
                  <li><a href="{{app.webBaseUrl}}/#/hsvc/no/retrieveNoticeView.do"><span class="ico ico3"></span>공지사항</a></li>
                  <!--
                  <li><a href=""><span class="ico ico2"></span>나의 문의내역</a></li>
                  <li><a href="#"><span class="ico ico3"></span>문의하기</a></li>
                  -->
                  <li><a href="{{app.webBaseUrl}}/#/comm/logout.do"><span class="ico ico4"></span>로그아웃</a></li>
              </ul>
			  {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
	<!-- container -->
	<div id="container" class="">
		<!-- left cnt : gnb relative -->
		<div class="leftCnt on">
			<div class="gnbMenu">
				<div class="gnb-in">
					<div class="gnb_m_proj">
						<ul class="gnb-menu dept1 depth1">
							<li class="dept1">
								<a class="dept1" href="javascript:void(0);">
									<span class="ico ico-bul"></span>
									<span class="pj_name ng-binding">{{userInfo.projName}}</span>
									<span class="ico ico-arr"></span>
								</a>
								<ul class="dept2">
									<li>
										<ul>
											{{#each projRows as |projRow index|}}
												<li class="dept2 ng-scope">
													<a class="{{projRow.class}}" {{action "toProjDetail" projRow.id }} href="javascript:void(0);" title="">{{projRow.name}}</a>
												</li>
											{{/each}}
										</ul>
									</li>
									<li class="dept2 pj_all">
										<a class="btn_all_proj" href="{{app.webBaseUrl}}/#/comm/projects">전체 프로젝트</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

				<div class="gnb-in" id="leftMenu">
					<!-- depth1 START -->
					<ul class="gnb-menu dept1 depth1">
						{{#each menu1st as |menu1|}}
						<li class="dept1 snb_v2">
							<a class="{{menu1.class}}" href="javascript:void(0);">
								<span class="ico ico-bul {{menu1.iconId}}"></span>{{menu1.depth1}}
								<span class="ico ico-arr"></span>
							</a>
							{{#if menu1.childCnt}}
								<ul class="dept2">
								{{#each menu2nd as |menu2|}}
									{{#if (eq menu1.id menu2.parentId)}}
									<li class="dept2" onmouseover="depth2LiHover(event);">
										<a class="dept2" href="javascript:void(0);" onmouseover="depth2Hover(event);" {{action 'moveToMenu' menu2.urlPath}}>{{menu2.depth2}}</a>
										{{#if menu2.childCnt}}
										<ul class="dept3" style="display: none;">
											{{#each menu3rd as |menu3|}}
											{{#if (eq menu2.id menu3.parentId)}}
											<li class="dept3">
												<a class="dept3" href="javascript:void(0);" onclick="depth3Click(event);" {{action 'moveToMenu' menu3.urlPath}}>{{menu3.depth3}}</a>
											</li>
											{{/if}}
											{{/each}}
										</ul>
										{{/if}}
									</li>
									{{/if}}
								{{/each}}
								</ul>
							{{/if}}
						</li>
						{{/each}}
						<!-- 
						<li class="dept1 snb_v2">
							<a class="dept1" href="javascript:void(0);">
								<span class="ico ico-bul ico1"></span>실시간 데이터 연계
								<span class="ico ico-arr"></span>
							</a>
							<ul class="dept2">
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DM_01_003.html" onmouseover="depth2Hover(event);">대시보드</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="javascript:void(0);" onmouseover="depth2Hover(event);">데이터 제공<span class="ico ico-arr"></span></a>
									<ul class="dept3" style="display: none;">
										<li class="dept3">
											<a class="dept3" href="SC_DM_03_001.html" onclick="depth3Click(event);">데이터 카탈로그 관리</a>
										</li>
										<li class="dept3">
											<a class="dept3" href="SC_DM_04_001.html" onclick="depth3Click(event);">이용자 관리</a>
										</li>
									</ul>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="javascript:void(0);" onmouseover="depth2Hover(event);">데이터 이용<span class="ico ico-arr"></span></a>
									<ul class="dept3" style="display: none;">
										<li class="dept3">
											<a class="dept3" href="SC_DM_05_001.html" onclick="depth3Click(event);">데이터 카탈로그</a>
										</li>
										<li class="dept3">
											<a class="dept3" href="SC_DM_06_001.html" onclick="depth3Click(event);">이용 현황</a>
										</li>
									</ul>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="javascript:void(0);" onmouseover="depth2Hover(event);">개발지원<span class="ico ico-arr"></span></a>
									<ul class="dept3" style="display: none;">
										<li class="dept3">
											<a class="dept3" href="SC_DM_02_002.html" onclick="depth3Click(event);">데이터 접속 계정 안내</a>
										</li>
										<li class="dept3">
											<a class="dept3" href="SC_DM_17_001.html" onclick="depth3Click(event);">Kafka 토픽</a>
										</li>
									</ul>
								</li>
								
							</ul>
						</li>

						
						<li class="dept1 snb_v2">
							<a class="dept1" href="javascript:void(0);">
								<span class="ico ico-bul ico2"></span>DBaaS
								<span class="ico ico-arr"></span>
							</a>
							<ul class="dept2">
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DS_01_001.html" onmouseover="depth2Hover(event);">DB 공유</a>
								</li>
							</ul>
						</li>

						
						<li class="dept1 snb_v2">
							<a class="dept1" href="javascript:void(0);">
								<span class="ico ico-bul ico3"></span>쿠버네티스 서비스
								<span class="ico ico-arr"></span>
							</a>
							<ul class="dept2">
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_00_001.html" onmouseover="depth2Hover(event);">대시보드</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_01_001.html" onmouseover="depth2Hover(event);">프로젝트 정보</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_02_001.html" onmouseover="depth2Hover(event);">네임스페이스</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_03_000.html" onmouseover="depth2Hover(event);">워크로드</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_04_001.html" onmouseover="depth2Hover(event);">로드밸런서</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_05_001.html" onmouseover="depth2Hover(event);">서비스 발견</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_07_001.html" onmouseover="depth2Hover(event);">불륨</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_08_001.html" onmouseover="depth2Hover(event);">파이프라인</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="javascript:void(0);" onmouseover="depth2Hover(event);">리소스<span class="ico ico-arr"></span></a>
									<ul class="dept3" style="display: none;">
										<li class="dept3">
											<a class="dept3" href="SC_CS_09_001.html" onclick="depth3Click(event);">프로젝트 알림</a>
										</li>
										<li class="dept3">
											<a class="dept3" href="SC_CS_09_005.html" onclick="depth3Click(event);">설정맵</a>
										</li>
										<li class="dept3">
											<a class="dept3" href="SC_CS_09_007.html" onclick="depth3Click(event);">프로젝트 로깅</a>
										</li>
										<li class="dept3">
											<a class="dept3" href="SC_CS_09_008.html" onclick="depth3Click(event);">파이프라인</a>
										</li>
										<li class="dept3">
											<a class="dept3" href="SC_CS_09_009.html" onclick="depth3Click(event);">레지스트리</a>
										</li>
										<li class="dept3">
											<a class="dept3" href="SC_CS_09_011.html" onclick="depth3Click(event);">시크릿</a>
										</li>
									</ul>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_06_001.html" onmouseover="depth2Hover(event);">서비스 카탈로그</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_CS_10_001.html" onmouseover="depth2Hover(event);">클러스터</a>
								</li>
							</ul>
						</li>

						
						<li class="dept1 snb_v2">
							<a class="dept1" href="javascript:void(0);">
								<span class="ico ico-bul ico4"></span>API 게이트웨이
								<span class="ico ico-arr"></span>
							</a>
							<ul class="dept2">
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_GW_01_001.html" onmouseover="depth2Hover(event);">대시보드</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_GW_05_001.html" onmouseover="depth2Hover(event);">API 관리</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_GW_07_001.html" onmouseover="depth2Hover(event);">API 이용 승인</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_GW_09_001.html" onmouseover="depth2Hover(event);">API 카탈로그</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_GW_10_001.html" onmouseover="depth2Hover(event);">APP 관리</a>
								</li>
							</ul>
						</li>

						
						<li class="dept1 snb_v2">
							<a class="dept1" href="javascript:void(0);">
								<span class="ico ico-bul ico5"></span>개발 파이프라인
								<span class="ico ico-arr"></span>
							</a>
							<ul class="dept2">
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DP_01_001.html" onmouseover="depth2Hover(event);">대시보드</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DP_02_001.html" onmouseover="depth2Hover(event);">소스 저장소</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DP_03_001.html" onmouseover="depth2Hover(event);">빌드 관리</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DP_04_001.html" onmouseover="depth2Hover(event);">이미지 저장소</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DP_05_001.html" onmouseover="depth2Hover(event);">작업 이력</a>
								</li>
							</ul>
						</li>

						
						<li class="dept1 snb_v2">
							<a class="dept1" href="javascript:void(0);">
								<span class="ico ico-bul ico6"></span>API 서비스
								<span class="ico ico-arr"></span>
							</a>
							<ul class="dept2">
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DH_02_001.html" onmouseover="depth2Hover(event);">MSA 워크로드</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DH_09_001.html" onmouseover="depth2Hover(event);">이용 안내</a>
								</li>
								<li class="dept2" onmouseover="depth2LiHover(event);">
									<a class="dept2" href="SC_DH_03_001.html" onmouseover="depth2Hover(event);">소스 생성기</a>
								</li>
							</ul>
						</li>
						-->
					</ul>
				</div>
			</div>
		</div>
		<!-- //left cnt -->

		<!-- rignt Cnt -->
		<div class="rightCnt">

			<div class="titWrap">
				<h2 class="h2">쿠버네티스 서비스</h2>
				<!--
				<div class="btnArea">
					<div class="tool_wrap">
						<button type="button" name="button" class="btn btn-list only-ico ico-list" onclick="location.href ='SC_CS_07_001.html'">
							<span class="ico">목록보기</span>
						</button>
					</div>
					<div class="tool_wrap">
						<button type="button" name="button" class="btn btn-list only-ico ico-refresh">
							<span class="ico">새로고침</span>
						</button>
					</div>
				</div>
				-->
			</div><!--//titWrap-->
			
			<!-- content -->
			<div  class="content">

  				{{outlet}} 
			
			</div><!-- //content -->
		</div>
		<!-- rignt Cnt -->
  


  </div>
    
</div> 

{{component tooltip tooltipTemplate=tooltipTemplate class="container-tooltip" id="tooltip-base" role="tooltip" aria-hidden="false"}}
{{modal-root}}
