{{#if showHeader}}
  <div class="fixed-header-actions row clearfix page-title header-borderless">
    {{#if internalBulkActions}}
      <div class="bulk-actions pull-left">
	      <div class="checkbox"><label>{{check-box classNames="select-all-check" checked=isAll}}</label></div>
        {{#each availableActions as |resourceAction index|}}
          {{#if resourceAction.enabled}}
            <a class="btn btn-sm bg-default hv-green" href="#" onclick={{action "executeBulkAction" resourceAction.action}} tabindex={{index}}>
              <i class="{{resourceAction.icon}}"></i>
              {{t resourceAction.label}}
            </a>
          {{else}}
            <a class="btn btn-sm bg-default btn-disabled" href="#" onclick="return false;" tabindex={{index}}>
              <i class="{{resourceAction.icon}}"></i>
              {{t resourceAction.label}}
            </a>
          {{/if}}
        {{/each}}
        {{#if selectedNodes}}
          <div class="inline-block text-small">{{t pagingLabel pages=1 count=selectedNodes.length}}</div>
        {{/if}}
      </div>
    {{/if}}

    <div class="pull-left">
      {{#if leftActions}}
        <div class="vertical-middle pr-20">
          {{yield this 'left-actions'}}
        </div>
      {{/if}}
    </div>

    <div class="pull-right">
        {{#if search}}
          <div class="vertical-middle">
            {{#ember-wormhole to=searchToWormhole renderInPlace=(not searchToWormhole)}}
              <div class="{{unless searchToWormhole "pull-right"}} search-group input-group mr-10">
                {{input value=searchText aria-title=(t "generic.search") type="search" class="input-sm pull-right" placeholder=(t "generic.search")}}
                {{#if searchText}}
                  <span class="input-group-btn">
                    <button class="btn bg-transparent text-info pl-10 pr-10" {{action "clearSearch"}}><i class="icon icon-close"/></button>
                  </span>
                {{/if}}
              </div>
            {{/ember-wormhole}}              
          </div>
          {{#if cardChoice}}
            <div class="btn-group p-0">
              <span title="카드 형태">
                <a href="javascript:void(0);" class="btn btn-sm xs bg-primary {{if hubpop.cardUse "active" ""}}" {{action 'toggleCardShow' true}}>
                  <i class="icon icon-boxview"></i>
                </a>
              </span>
              <span title="리스트 형태">
                <a href="javascript:void(0);" class="btn btn-sm xs bg-primary {{if hubpop.cardUse "" "active"}}" {{action 'toggleCardShow' false}}>
                  <i class="icon icon-list"></i>
                </a>
              </span>
            </div>
          {{/if}}
        {{/if}}

        {{#if rightActions}}
          <div class="vertical-middle pl-20">
            {{yield this "right-actions"}}
          </div>
        {{/if}}
      </div>
  </div>
{{/if}}

{{#if groupByKey}}   
  {{#if extraGroups.length}}
    {{#each extraGroups as |group|}}
      <tbody class="group">
        {{yield this "group" group}}
        {{yield this "norows"}}
      </tbody>
    {{/each}}
  {{/if}}

  {{#each groupedContent as |group|}}   
    {{#if internalBulkActions}}  
      <div class="fixed-header-actions row clearfix page-title header-borderless">
      {{yield this 'headSection' group}}  
      </div>
    {{/if}}

    {{#each group.cardRows as |card|}}
    <div class="row flex">
      {{#each card as |row|}}
      <div class="col span-{{cardSpan}} mt-0">
      {{yield this 'card' row dt (array-includes childFilterNodes row.id)}}     
      </div>
      {{/each}}
    </div>
    {{/each}}

  {{else}}
    {{yield this (if arranged.length 'nomatch' 'norows')}}
  {{/each}}
{{else}}
  {{#each cardRows as |card|}}  
  <div class="row flex">
    {{#each pagedContent as |row|}}       
      {{#if (eq card.cardGroup row.cardGroup)}}     
      <div class="col span-{{cardSpan}} mt-0">
        {{yield this 'card' row dt (array-includes childFilterNodes row.id)}}     
      </div>
      {{/if}}
    {{/each}}
  </div>
  {{/each}}        
  {{#if suffix}}
    {{yield this "suffix"}}
  {{/if}}
{{/if}}


{{#if (and paging showPaging)}}
  {{page-numbers
    content=pagedContent
    class="text-center mt-10 mb-10 no-select"
    indexTo=indexTo
    indexFrom=indexFrom
    totalCount=filtered.length
    textLabel=pagingLabel
  }}
{{/if}}