<section class="header clearfix">
  <div class="right-buttons">
    <button
      {{action "importYaml"}}
      class="btn btn-sm bg-primary"
      disabled={{rbac-prevents resource="horizontalpodautoscaler" scope="project" permission="create"}}
    >
      <i class="icon icon-yaml"></i>
      {{t "nav.containers.importCompose"}}
    </button>
    {{#link-to
      "authenticated.project.hpa.new"
      scope.currentProject.id
      class="btn btn-sm bg-primary"
      disabled=(or (not model.supported) (rbac-prevents resource="horizontalpodautoscaler" scope="project" permission="create"))
    }}
      <i class="icon icon-register"></i>
      {{t "nav.containers.addHpa"}}
    {{/link-to}}
  </div>
  
  {{!-- <h1>{{t "nav.infra.hpa"}}</h1> --}}
  <h1 class="pull-left">HPA(Horizontal Pod Autoscaler)</h1>
</section>

{{#if rows.length}}
  {{#if model.supported }}
    <section class="pl-0 pr-0">
      {{#if hubpop.cardUse}}
        {{#card-list
          tableClassNames="bordered"
          paging=true
          pagingLabel="pagination.hpa"
          groupByKey="namespaceId"
          groupByRef="namespace"
          headers=headers
          bulkActions=true
          searchText=searchText
          body=rows
          descending=descending
          sortBy=sortBy
          subRows=true
          subHeaders=containerHeaders
          subSearchField="instances"
          cardInit=3
          cardChoice=true
          hubpop=hubpop
          as |cardList kind obj dt|
        }}
          {{#if (eq kind "headSection")}}
            {{namespace-group-card 
              model=obj.ref
            }}
          {{/if}}

          {{#if (eq kind "card")}}
            <div class="kb-lst">
              <div class="kb-lst-header">
                <div class="initial initial-{{obj.initial}}">
                  <span>{{obj.initial}}</span>
                </div>
                <div>
                  <div class="tit-wrap">
                    <div class="checkbox row-check">
                      {{check-box nodeId=obj.id}}
                    </div>
                    <span class="tit"><a href="{{href-to "authenticated.project.hpa.detail" obj.id}}">{{obj.name}}</a></span>
                    {{action-menu model=obj}}              
                  </div>
                  <div class="state-wrap">
                    <span class="state">{{badge-state model=obj}}</span>
                    <span class="date">{{date-calendar obj.created}}</span>
                  </div>
                </div>
              </div>
              <div class="kb-lst-content list-type2">
                <ul>
                  <li>
                    <strong>{{dt.workloadId}}</strong>
                    <span>
                      {{#if obj.workload}}
                        <a href="{{href-to "workload" obj.workloadId}}">{{obj.workload.displayName}}</a>
                      {{/if}}
                        {{#tooltip-element
                          type="tooltip-basic"
                          tooltipTemplate="tooltip-multi-lines"
                          model=obj.displayMetrics
                          inlineBlock=true
                        }}
                          {{obj.displayMetricsString}}
                        {{/tooltip-element}}
                      </span>
                  </li>
                  <li>
                    <strong>{{dt.currentReplicas}}</strong>
                    <span>
                      {{obj.currentReplicas}}
                      (
                        {{t "hpaPage.table.replicas.desired"}} {{obj.desiredReplicas}} /
                        {{t "hpaPage.table.replicas.range"}} {{obj.minReplicas}} ~ {{obj.maxReplicas}}
                      )
                    </span>
                  </li>
                  <li>
                    <strong>{{dt.lastScaleTime}}</strong>
                    <span>
                      {{#if obj.lastScaleTime}}
                        {{date-from-now obj.lastScaleTime}}
                      {{else}}
                        {{t "generic.na"}}
                      {{/if}}
                    </span>
                  </li>
                </ul>
                {{#if obj.showTransitioningMessage}}
                  <small class="{{obj.stateColor}}">{{uc-first obj.transitioningMessage}}</small>
                {{/if}}
								</div>
            </div>
          {{else if (eq kind "nomatch")}}
            <section class="ncz_msg_empty mt80">
              <strong>검색된 데이터가 없습니다.</strong>
              <span>다른 조건으로 검색해 보세요.</span>
            </section>
          {{else if (eq kind "norows")}}      
          {{/if}}
        {{/card-list}}
      {{else}}
        {{!-- 테이블 형식 --}}
        {{#sortable-table
          classNames="grid sortable-table"
          body=rows
          searchText=searchText
          sortBy=sortBy
          bulkActions=true
          descending=descending
          subRows=true
          groupByKey="namespaceId"
          groupByRef="namespace"
          pagingLabel="pagination.hpa"
          subHeaders=containerHeaders
          subSearchField="instances"
          cardChoice=true
          hubpop=hubpop
          headers=headers as |sortable kind inst dt|
        }}
          {{#if (eq kind "row")}}
            {{hpa-row
              model=inst
              searchText=searchText
              subMatches=sortable.subMatches
              fullColspan=sortable.fullColspan
              dt=dt
            }}
          {{else if (eq kind "group")}}
            {{namespace-group
              model=inst.ref
              fullColspan=sortable.fullColspan
            }}
          {{else if (eq kind "nomatch")}}
            <tr>
              <td
                colspan="{{sortable.fullColspan}}"
                class="text-center text-muted pt-20 pb-20"
              >
                {{t "hpaPage.noMatch"}}
              </td>
            </tr>
          {{else if (eq kind "norows")}}
            <tr>
              <td
                colspan="{{sortable.fullColspan}}"
                class="text-center text-muted pt-20 pb-20"
              >
                {{t "hpaPage.noData"}}
              </td>
            </tr>
          {{/if}}
        {{/sortable-table}}
      {{/if}}
    </section>
  {{else}}
    {{banner-message
      icon="icon-alert"
      color="bg-warning mb-10"
      message=(t "hpaPage.notSupported" htmlSafe=true)
    }}
  {{/if}}
{{else}}
  <section class="row_wrap panel_add type3 kb-panel mb-20">
    <div class="guide_area type6">
      <span class="txt">
        정의된 HPA가 없습니다.<br>
        <strong>'HPA 등록'</strong>을 통해 필요한 경우 오토스케일링 설정을 등록하세요.
      </span>
    </div>
  </section>
{{/if}}