<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{content-for 'baseAssets'}}assets/images/logos/faviconH.ico" type="image/x-icon" />
    <title>HUB-POP</title>
    <!-- {{content-for 'version'}} -->
    <meta name="description" content="">
    {{content-for 'head'}}
    <link id="vendor" rel="stylesheet">
    <link id="theme" rel="stylesheet">
    {{content-for 'head-footer'}}

    <!-- 추가 -->
    <link rel="stylesheet" href="{{content-for 'baseAssets'}}assets/css/reset_kb.css">
    <link rel="stylesheet" href="{{content-for 'baseAssets'}}assets/css/layout_kb.css">
    <link rel="stylesheet" href="{{content-for 'baseAssets'}}assets/css/common_kb.css">
    <link rel="stylesheet" href="{{content-for 'baseAssets'}}assets/css/custom_ui_kb.css">
    <link rel="stylesheet" href="{{content-for 'baseAssets'}}assets/css/kb_2020.css">
    
  </head>
  <body>
    {{content-for 'body'}}
    <script src="{{content-for 'baseAssets'}}assets/vendor.js"></script>
    <script src="{{content-for 'baseAssets'}}assets/ui.js"></script>
    <!-- 추가 -->
    <script src="{{content-for 'baseAssets'}}assets/js/jquery-1.11.3.min.js"></script>
    <script src="{{content-for 'baseAssets'}}assets/js/jquery-ui.js"></script>
    <script src="{{content-for 'baseAssets'}}assets/js/user.js"></script>
    <script src="{{content-for 'baseAssets'}}assets/js/dataPortal/custom.js"></script>
    {{content-for 'body-footer'}}
  </body>
</html>
