<div class="kb-lst">
  <div class="kb-lst-header">
    {{#if canExpand}}
      <div class="btn-wrap">
        <i role="button" {{action "toggle"}} class="icon icon-play {{if expanded 'icon-rotate-90'}}">
          <span class="visually-hidden">Open accordion</span>
        </i>
      </div>
    {{/if}}
    <div class="initial initial-{{model.initial}}">
      <span>{{model.initial}}</span>
    </div>
    <div>
      <div class="tit-wrap">
        <div class="checkbox row-check">
          {{check-box nodeId=model.id}}
        </div>
        <span class="tit">
          <a href="{{href-to "pod" model.id}}">{{model.displayName}}</a>
          <i class="{{model.activeIcon}}"></i>
        </span>              
        {{action-menu model=model}}              
      </div>
      <div class="state-wrap">
        <span class="state">{{badge-state model=model}}</span>
        <span class="date">{{date-str model.created}}</span>
      </div>
    </div>
  </div>

  <div class="kb-lst-content list-type2">
    <ul>
      <li>
        <strong>{{dt.image}}</strong>
          {{#tooltip-element
            type="tooltip-basic"
            tooltipTemplate='tooltip-multi-lines'
            model=model.displayImages
            inlineBlock=true
          }}
            <span>{{model.displayImage}}</span>
          {{/tooltip-element}}
      </li>
      {{#if model.displayIp}}
        <li>
          <strong>URL:</strong>
          <span>
            {{#copy-inline clipboardText=model.displayIp}}
              {{format-ip model.displayIp}}
            {{/copy-inline}}
          </span>
        </li>
      {{/if}}
      {{#if (and showNode model.node)}}
        <li>
          <strong>Node:</strong>
          <span>
            <a href="{{href-to "authenticated.cluster.monitoring.node-detail" scope.currentCluster.id model.node.id}}">
              {{model.node.displayName}}</a>
          </span>
        </li>
      {{/if}}
      {{#if scalePlaceholder}}
        <li>
          <strong>{{dt.scale}}</strong>
          <span>{{t 'namespaceGroup.none'}}</span>
        </li>
      {{/if}}
    </ul>
    {{#if model.showTransitioningMessage}}
      <small class="{{model.stateColor}}">{{uc-first model.transitioningMessage}}</small>
    {{/if}}
  </div>

  {{#if canExpand}}
  {{#if expanded}}
    <div class="kb-lst-footer">
      <span>
        {{pod-dots
          pod=model
          searchText=searchText
          groupByPod=model.hasSidekicks
        }}
      </span>
    </div>
  {{/if}}
  {{/if}}
</div>