<td class="row-check" valign="middle" style="padding-top: 2px;">
  {{check-box nodeId=model.id}}
</td>
<td data-title="{{dt.state}}" class="state">
  {{badge-state model=model}}
</td>
<td data-title="{{dt.name}}" class="force-wrap">
  {{#link-to-external 'authenticated.project.certificates.detail' model.id}}{{model.displayName}}{{/link-to-external}}
</td>
<td data-title="{{dt.cn}}">
  {{{model.displayDomainName}}}
</td>
<td data-title="{{dt.expires}}">
  <span class="{{if model.expiresSoon "text-bold text-danger"}}">
    {{date-str model.expiresDate}}
  </span>
</td>
<td data-title="{{dt.actions}}" class="actions">
  {{action-menu model=model}}
</td>
