{{#if model.hasSidekicks}}
  <div class="dot-group hand">
    {{#tooltip-element type=type model=model tooltipTemplate=template placement="top" tagName="span" tooltipFor="containerDot"}}
      {{#each model.containers as |container|}}
        <i class="{{container.stateIcon}} {{container.stateColor}} dot" alt={{alt}}></i>
      {{/each}}
    {{/tooltip-element}}
  </div>
{{else}}
  {{#tooltip-element type=type model=model tooltipTemplate=template placement="top" tagName="span" tooltipFor="containerDot"}}
    <i class="{{model.stateIcon}} {{model.stateColor}} dot hand" alt={{alt}}></i>
  {{/tooltip-element}}
{{/if}}
