// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  clear: both;
}

.header {
  // margin: 0 0 16.5px 0;
  // padding: 20px 30px;
  // background: #fff;
  // border-radius: 4px;

  border-bottom: solid 1px #d6d6d6;
  margin: 0 0 16.5px 0;
  padding: 15px 0;

  h1 {
    margin: 2px 0;
    font-size: 21px;
  }

  .right-buttons {
    @include clearfix;
    float: right;

    > .resource-actions {
      .btn {
        padding: 6px 10px 4px 10px;
        margin-left: 10px;
      }
    }
  }
}

.header-borderless {
  @extend .header;
  border-bottom: none;
}
