HTML {
  height: 100%;
}

BODY {
  direction: ltr;
  background-color : $body-bg;
  min-height       : 100%;
  // font-weight      : normal;
  position         : relative;

  &.no-spin .icon-spin {
    -webkit-animation : none;
    animation         : none;
  };
}

#application {
  // padding-top: 10px;
  // padding-bottom: 70px; // So the footer doesn't cover the end of the body
  min-height: 150px; // header + footer + a bit
}

BODY.popup #application {
  padding-bottom: 0;
  min-height: 0;
  max-width: initial;
}

MAIN {
  position: relative;
  margin: 0 40px 20px;
}

.footer-actions {
  padding-top: 10px;
  text-align     : center;
  position       : relative;
}

.modal-container .footer-actions {
  margin-bottom: 0;
}

.box {
  background: $accent-bg;
  padding: 20px;
  border: solid 1px $accent-border;

  hr {
    border-color: darken($border, 5%);
  }

  > h4 {
    border-bottom: solid 2px darken($border, 5%);
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-transform: capitalize;
  }

  &.bg-secondary {
    @extend .bg-secondary;

    hr {
      opacity: .3;
    }
  }

  .accordion {
    background: $body-bg;
  }

  .text-muted {
    color: $mid-grey;
  }

  .bg-disabled {
    background-color: $bg-disabled;
  }

  .over-hr {
    & > span:before,
    & > span:after {
      background: #c5cbce;
    }
  }
}
