{{#security-header}}
  <div class="btn-group p-0 mr-10">
    {{#tooltip-element
      type="tooltip-basic"
      model=(t "nav.group.none")
      tooltipTemplate="tooltip-static"
      aria-describedby="tooltip-base"
      tooltipFor="tooltipLink"
    }}
      {{#link-to
        (query-params group="none")
        classNames="btn btn-sm bg-default"
      }}
        <i class="icon icon-certificate"></i>
      {{/link-to}}
    {{/tooltip-element}}

    {{#tooltip-element
      type="tooltip-basic"
      model=(t "nav.group.namespace")
      tooltipTemplate="tooltip-static"
      aria-describedby="tooltip-base"
      tooltipFor="tooltipLink"
    }}
      {{#link-to
        (query-params group="namespace")
        classNames="btn btn-sm bg-default"
      }}
        <i class="icon icon-list-nested"></i>
      {{/link-to}}
    {{/tooltip-element}}
  </div>
  {{#link-to
    "authenticated.project.certificates.new"
    classNames="btn btn-sm bg-primary right-divider-btn"
    disabled=(rbac-prevents resource="certificate" scope="project" permission="create")
    }}
      <i class="icon icon-register"></i>
      {{t "certificatesPage.index.linkTo"}}
    {{/link-to}}
{{/security-header}}

{{#if rows.length}}
<section>
  {{#if hubpop.cardUse}}
    {{#card-list
      classNames="grid fixed mb-0 sortable-table"
      body=rows
      descending=descending
      groupByKey=groupTableBy
      groupByRef="namespace"
      bulkActions=true
      sortBy=sortBy
      headers=headers
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |cardList kind row dt|
      }}

      {{#if (eq kind "headSection")}}
        {{namespace-group-card 
          model=row.ref
          noGroup="namespaceGroup.project"}} 
      {{/if}}

      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{row.initial}}">
              <span>{{row.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=row.id}}
                </div>
                <span class="tit">
                  {{#link-to-external 'authenticated.project.certificates.detail' row.id}}
                    {{row.displayName}}
                  {{/link-to-external}}
                </span>              
                {{action-menu model=row}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=row}}</span>
                <span class="date">{{date-str row.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{dt.cn}}</strong>
                <span>{{{row.displayDomainName}}}</span>
              </li>
              <li>
                <strong>{{dt.expires}}</strong>
                <span>{{date-str row.expiresDate}}</span>
              </li>
            </ul>
            {{#if row.showTransitioningMessage}}
              <small class="{{row.stateColor}}">{{uc-first row.transitioningMessage}}</small>
            {{/if}}
          </div>
        </div>   
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}      
      
      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="grid fixed mb-0 sortable-table"
      body=rows
      descending=descending
      groupByKey=groupTableBy
      groupByRef="namespace"
      bulkActions=true
      sortBy=sortBy
      headers=headers
      cardChoice=true
      hubpop=hubpop
      as |sortable kind row|
    }}
      {{#if (eq kind "row")}}
        {{certificate-row
          model=row
          dt=dt
        }}
      {{else if (eq kind "group")}}
        {{namespace-group
          model=row.ref
          noGroup="namespaceGroup.project"
          fullColspan=sortable.fullColspan
        }}
      {{else if (eq kind "nomatch")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">
            {{t "certificatesPage.index.noMatch"}}
          </td>
        </tr>
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">
            {{t "certificatesPage.index.noData"}}
          </td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
{{else}}
<section class="row_wrap panel_add type3 kb-panel mb-20">
  <div class="guide_area type9">
    <span class="txt">
      등록된 인증서 설정 내역이 없습니다.<br>
      <strong>‘인증서 등록’</strong>을 통해 필요한 인증서 정보를 설정해 보세요.
    </span>
  </div>
</section>
{{/if}}