{{#hover-dropdown
   horizontalPosition="left"
   verticalPosition="below"
   renderInPlace=true
   onOpen=(action "onOpen")
   onClose=(action "onClose")
   as |dd|
}}

  {{#dd.trigger
     ariaLabel=(t "nav.projectDropdown.label")
  }}
    <a role="button" aria-haspopup="true" class="{{if twoLine "two-line "}}text-white nav-link">
      {{#if (eq pageScope "project")}}
        <div class="clip">
          <span>{{project.cluster.displayName}}</span>
        </div>
        <div class="pl-15 clip text-muted">
          <span>{{project.displayName}}  : project</span>
        </div>
      {{else if (eq pageScope "cluster")}}
        <div class="clip">
          <span>{{cluster.displayName}} : cluster</span>
        </div>
      {{else if (eq pageScope "global")}}
        <div class="clip">
          <!--
          <span>{{t "nav.admin.tab"}} : global</span>
          -->
          <span>서비스 자원관리</span>
        </div>
      {{else}}
        <div class="clip">
          <span>{{pageScope}}</span>
        </div>
      {{/if}}

      <span class="sr-only">{{t "nav.srToggleDropdown"}}</span>
      <i class="icon icon-chevron-down chevron"></i>
    </a>

  {{/dd.trigger}}

  {{#dd.content
     class="project-menu"
     style=menuStyle
  }}

    <div class="projects">
      <div class="list-top">
        <a href="#">서비스 자원관리</a>
      </div>
      <ul class="list-unstyled {{if (eq hoverEntry null) "no-hover-entry"}}" style="{{columnStyle}}">      
        {{#each byProject as |project|}}
           <li
              data-project-id={{project.id}}
              class="item clip project {{unless project.isReady "not-ready"}} {{if project.active "active" "inactive"}}"
            >
              {{#link-to
                 "authenticated.project"
                 project.id
                 class="top"
              }}
                {{project.cluster.displayName}}:{{project.displayName}}
              {{/link-to}}
              <p class="state">
                {{#if project.isReady}}
                  {{project.displayState}}
                {{else}}
                  {{t "nav.projectDropdown.projectNotReady"}}
                {{/if}}
              </p>
            </li>
        {{/each}}
      </ul>
      <div class="list-end">
        <a href="#"><i class="icon icon-help"></i>CA 인증서 설치 안내</a>
      </div>
    </div>
    
  {{/dd.content}}
{{/hover-dropdown}}
