<section class="header clearfix page-title mb-0 br-b-0">
    <div class="pull-left">
        <span class="tit">쿠버네티스 서비스 등록</span>
    </div>
</section>
<section class="ncz_panel mt-0">
    <div class="panel_cnt br-t-0">
        <div class="banner bg-info">    
            <div class="banner-icon">
                <span class="icon icon-info-img"></span>
            </div>
            <div class="banner-message">
                <p>쿠버네티스 프로젝트 특성에 따라 클러스터 유형 선택 후, 자원 정보를 설정해 주세요.​</p>
            </div>
        </div><!-- //안내문구 -->

        <div class="inp_top">
            <span><span class="field-required">*</span>는 필수입력 사항입니다.</span>
        </div>
        
        <div class="row mb-20">
            <div class="col span-12 mb-0">
                <label class="acc-label pb-5">
                    <span class="field-required">*</span>클러스터 유형
                    <span class="inline-block">
                        <div role="tooltip">      
                            <i class="ico ico-info1"></i>
                        </div>  
                    </span>
                    <div class="container-tooltip left" style="display: none;">
                        프로젝트 규모에 따라 프로젝트 전용 클러스터를 선택하실 수 있습니다. 용도에 걸맞은 클러스터 유형을 선택해 주세요.
                        <div class="tooltip-caret"></div>
                    </div>
                </label>
                
                <ul class="box_lst_etc box-click">
                    <li class="sec on" data-btn="tab1">
                        <div class="imgIcon">
                            <div class="icon_cluster2 pub">공용 클러스터​</div>
                            <div class="info">
                                <span class="name">공용 클러스터​</span>
                                <span class="txt">hub-PoP 공용 클러스터 내에서 일정 자원을 할당 받아 서비스를 이용합니다. 중소 규모의 프로젝트에서 어려움 없이 이용할 수 있습니다.​</span>
                            </div>
                        </div>
                    </li>
                    <li class="sec" data-btn="tab2">
                        <div class="imgIcon">
                            <div class="icon_cluster2 pri">전용 클러스터​</div>
                            <div class="info">
                                <span class="name">전용 클러스터​</span>
                                <span class="txt">프로젝트 전용 클러스터를 할당 받아 서비스를 이용하며, 직접 클러스터 사용 현황을 모니터링 할 수 있습니다.​</span>
                            </div>
                        </div>
                    </li>
                </ul><!-- //탭 -->
            </div>
        </div><!-- //row -->
        
        <div data-list="tabData" data-tab="tab1" class="mt30" style="display: block;">
            <div class="row mb-20">
                <div class="col span-12 mb-0">
                    <label class="acc-label pb-5">
                        <span class="field-required">*</span>클러스터 자원
                        <span class="inline-block">
                            <div role="tooltip">      
                                <i class="ico ico-info1"></i>
                            </div>  
                        </span>
                        <div class="container-tooltip left" style="display: none;">
                            허브팝에서 제공하는 공용 클러스터 별로 자원이 상이합니다. 서비스 프로젝트 성격에 따라 적합한 클러스터를 선택해 주세요.​
                            <div class="tooltip-caret"></div>
                        </div>
                    </label>
                    
                    <ul class="box_lst box-click2">
                        <li class="on">
                            <div class="plan">
                                <div class="initial c_color_01">Y</div>
                                <div class="info">
                                    <span class="name only">yellow_cluster​</span>
                                    <!-- <span class="txt">개발 테스트를 위한 사양</span> -->
                                </div>
                            </div>
                            <div class="tbl">
                                <p class="tit_etc1 mt10 pl5"><span class="icon icon-catalog"></span>클러스터 사양</p>
                                <ul class="ncz_dot_lst inline col_3">
                                    <li>
                                        <strong>vCPU :</strong>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <strong>메모리 :</strong>
                                        <span>000GB</span>
                                    </li>
                                    <li>
                                        <strong>디스크 :</strong>
                                        <span>20T</span>
                                    </li>
                                </ul>
                                <p class="tit_etc1 mt20 pl5"><span class="icon icon-globe"></span>사용 가능 자원​</p>
                                <ul class="ncz_dot_lst inline col_3">
                                    <li>
                                        <strong>포드 :</strong>
                                        <span>85/150​</span>
                                    </li>
                                    <li>
                                        <strong>볼륨 :</strong>
                                        <span>2.45GB/10T​</span>
                                    </li>
                                </ul>
                            </div>
                        </li>										
                        <li>
                            <div class="plan">
                                <div class="initial c_color_02">B</div>
                                <div class="info">
                                    <span class="name only">blue_cluser​</span>
                                    <!-- <span class="txt">소규모 서비스 개발에 적합</span> -->
                                </div>
                            </div>
                            <div class="tbl">
                                <p class="tit_etc1 mt10 pl5"><span class="icon icon-catalog"></span>클러스터 사양</p>
                                <ul class="ncz_dot_lst inline col_3">
                                    <li>
                                        <strong>vCPU :</strong>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <strong>메모리 :</strong>
                                        <span>000GB</span>
                                    </li>
                                    <li>
                                        <strong>디스크 :</strong>
                                        <span>20T</span>
                                    </li>
                                </ul>
                                <p class="tit_etc1 mt20 pl5"><span class="icon icon-globe"></span>사용 가능 자원​</p>
                                <ul class="ncz_dot_lst inline col_3">
                                    <li>
                                        <strong>포드 :</strong>
                                        <span>85/150​</span>
                                    </li>
                                    <li>
                                        <strong>볼륨 :</strong>
                                        <span>2.45GB/10T​</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="plan">
                                <div class="initial c_color_03">R</div>
                                <div class="info">
                                    <span class="name only">Red_cluser​</span>
                                    <!-- <span class="txt">중소 규모의 서비스 개발에 적합</span> -->
                                </div>
                            </div>
                            <div class="tbl">
                                <p class="tit_etc1 mt10 pl5"><span class="icon icon-catalog"></span>클러스터 사양</p>
                                <ul class="ncz_dot_lst inline col_3">
                                    <li>
                                        <strong>vCPU :</strong>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <strong>메모리 :</strong>
                                        <span>000GB</span>
                                    </li>
                                    <li>
                                        <strong>디스크 :</strong>
                                        <span>20T</span>
                                    </li>
                                </ul>
                                <p class="tit_etc1 mt20 pl5"><span class="icon icon-globe"></span>사용 가능 자원​</p>
                                <ul class="ncz_dot_lst inline col_3">
                                    <li>
                                        <strong>포드 :</strong>
                                        <span>85/150​</span>
                                    </li>
                                    <li>
                                        <strong>볼륨 :</strong>
                                        <span>2.45GB/10T​</span>
                                    </li>
                                </ul>
                            </div>
                        </li>										
                    </ul>
                    
                </div>
            </div><!-- //row -->

            <div class="row mb-20">
                <div class="col span-12 mb-0">
                    <label class="acc-label pb-5">
                        <span class="field-required">*</span>포드
                        <span class="inline-block">
                            <div role="tooltip">      
                                <i class="ico ico-info1"></i>
                            </div>  
                        </span>
                        <div class="container-tooltip left" style="display: none;">
                            선택한 클러스터의 사용 가능량을 참고하여 필요한 포드 수를 조정해 주세요. 포드 수가 너무 적으면 앱 생성 시 문제가 될 수 있습니다.​
                            <div class="tooltip-caret"></div>
                        </div>
                    </label>
                    <div class="slider_widgetArea">
                        <div class="slider">
                            <div id="slider-range01" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 0%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span></div>
                        </div>
                        <input class="inp_slider" type="text" id="amount1" readonly=""><span>/100</span>
                    </div><!-- //slider_widgetArea -->
                </div>
            </div><!-- //row -->
            
            <div class="row mb-20">
                <div class="col span-12 mb-0">
                    <label class="acc-label pb-5">
                        <span class="field-required">*</span>볼륨​
                        <span class="inline-block">
                            <div role="tooltip">      
                                <i class="ico ico-info1"></i>
                            </div>  
                        </span>
                        <div class="container-tooltip left" style="display: none;">
                            선택한 클러스터의 사용 가능량을 참고하여 필요한 볼륨량을 조정해 주세요.​
                            <div class="tooltip-caret"></div>
                        </div>
                    </label>
                    <div class="slider_widgetArea">
                        <div class="slider">
                            <div id="slider-range02" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 0%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span></div>
                        </div>
                        <input class="inp_slider" type="text" id="amount2" readonly=""><span>/10T​</span>
                    </div><!-- //slider_widgetArea -->
                </div>
            </div><!-- //row -->

            <div class="row mb-20">
                <div class="col span-12 mb-0">
                    <label class="acc-label pb-5">
                        <span class="field-required">*</span>쿠버네티스 프로젝트 이름​
                        <span class="inline-block">
                            <div role="tooltip">      
                                <i class="ico ico-info1"></i>
                            </div>  
                        </span>
                        <div class="container-tooltip left" style="display: none;">
                            서비스를 구분할 수 있는 이름으로 영문 소문자와 숫자만 사용하여 입력해 주세요. 최대 10자 입력 가능합니다.​
                            <div class="tooltip-caret"></div>
                        </div>
                    </label>
                    <input placeholder="p89_project1" class="ember-text-field form-control" type="text">
                </div>
            </div><!-- //row -->
        </div><!-- //tab1 content -->
        
        <div data-list="tabData" data-tab="tab2" class="mt30" style="display: none;">
            <div class="row mb-20">
                <div class="col span-12 mb-0">
                    <div class="boxType1">
                        <span class="vertical-middle t1">엔텔스 프로젝트 </span>
                        <span class="vertical-middle t2"><span class="icon icon-sun icon-3x vertical-middle"></span> IaaS 자원 할당 정보 (잔여량)​</span>
                        <span class="vertical-middle t3">
                            <ul class="ncz_dot_lst inline col_3">
                                <li>
                                    <strong>vCPU :</strong>
                                    <span>2</span>
                                </li>
                                <li>
                                    <strong>메모리 :</strong>
                                    <span>000GB</span>
                                </li>
                                <li>
                                    <strong>디스크 :</strong>
                                    <span>20T</span>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div><!-- //row -->

            <div class="row mb-20">
                <div class="col span-12 mb-0">
                    <label class="acc-label pb-5">
                        <span class="field-required">*</span>자원 사양
                        <span class="inline-block">
                            <div role="tooltip">      
                                <i class="ico ico-info1"></i>
                            </div>  
                        </span>
                        <div class="container-tooltip left" style="display: none;">
                            쿠버네티스 서비스에서 사용할 자원 계획을 선택해 주세요. 할당 자원이 부족하다면 프로젝트 자원을 추가 신청한 후 이용해 주세요.​
                            <div class="tooltip-caret"></div>
                        </div>
                    </label>
                
                    <ul class="box_lst col5 box-click2">
                        <li class="on">
                            <div class="plan">
                                <div class="initial c_color_01">T</div>
                                <div class="info">
                                    <span class="name only">Tiny​</span>
                                </div>
                            </div>
                            <div class="tbl">
                                <ul class="ncz_dot_lst inline">
                                    <li>
                                        <strong>vCPU :</strong>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <strong>메모리 :</strong>
                                        <span>000GB</span>
                                    </li>
                                    <li>
                                        <strong>디스크 :</strong>
                                        <span>20T</span>
                                    </li>
                                </ul>
                            </div>
                        </li>									
                        <li>
                            <div class="plan">
                                <div class="initial c_color_02">S</div>
                                <div class="info">
                                    <span class="name only">Small</span>
                                </div>
                            </div>
                            <div class="tbl">
                                <ul class="ncz_dot_lst inline">
                                    <li>
                                        <strong>vCPU :</strong>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <strong>메모리 :</strong>
                                        <span>000GB</span>
                                    </li>
                                    <li>
                                        <strong>디스크 :</strong>
                                        <span>20T</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="plan">
                                <div class="initial c_color_03">M</div>
                                <div class="info">
                                    <span class="name only">Medium</span>
                                </div>
                            </div>
                            <div class="tbl">
                                <ul class="ncz_dot_lst inline">
                                    <li>
                                        <strong>vCPU :</strong>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <strong>메모리 :</strong>
                                        <span>000GB</span>
                                    </li>
                                    <li>
                                        <strong>디스크 :</strong>
                                        <span>20T</span>
                                    </li>
                                </ul>
                            </div>
                        </li>										
                        <li>
                            <div class="plan">
                                <div class="initial c_color_04">L</div>
                                <div class="info">
                                    <span class="name only">Large</span>
                                </div>
                            </div>
                            <div class="tbl">
                                <ul class="ncz_dot_lst inline">
                                    <li>
                                        <strong>vCPU :</strong>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <strong>메모리 :</strong>
                                        <span>000GB</span>
                                    </li>
                                    <li>
                                        <strong>디스크 :</strong>
                                        <span>20T</span>
                                    </li>
                                </ul>
                            </div>
                        </li>										
                        <li class="disabled">
                            <div class="plan">
                                <div class="initial c_color_05">X</div>
                                <div class="info">
                                    <span class="name only">XLarge</span>
                                </div>
                            </div>
                            <div class="tbl">
                                <ul class="ncz_dot_lst inline">
                                    <li>
                                        <strong>vCPU :</strong>
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <strong>메모리 :</strong>
                                        <span>000GB</span>
                                    </li>
                                    <li>
                                        <strong>디스크 :</strong>
                                        <span>20T</span>
                                    </li>
                                </ul>
                            </div>
                        </li>										
                    </ul>
                    
                </div>
            </div><!-- //row -->

            <div class="row mb-20">
                <div class="col span-12 mb-0">
                    <label class="acc-label pb-5">
                        <span class="field-required">*</span>노드
                        <span class="inline-block">
                            <div role="tooltip">      
                                <i class="ico ico-info1"></i>
                            </div>  
                        </span>
                        <div class="container-tooltip left" style="display: none;">
                            선택한 자원 사양으로 생성할 노드 수를  선택해 주세요.​
                            <div class="tooltip-caret"></div>
                        </div>
                    </label>
                    
                    <ul class="clickBox size1 box-click3">
                        <li class="on">
                            <p class="t1">3</p>
                        </li>
                        <li>
                            <p class="t1">4</p>
                        </li>
                        <li>
                            <p class="t1">5</p>
                        </li>
                        <li>
                            <p class="t1">6</p>
                        </li>
                        <li>
                            <p class="t1">7</p>
                        </li>
                    </ul>
                    
                </div>
            </div><!-- //row -->

            <div class="row mb-20">
                <div class="col span-12 mb-0">
                    <label class="acc-label pb-5">
                        <span class="field-required">*</span>클러스터 이름​
                        <span class="inline-block">
                            <div role="tooltip">      
                                <i class="ico ico-info1"></i>
                            </div>  
                        </span>
                        <div class="container-tooltip left" style="display: none;">
                            클러스터를 구분할 수 있는 이름으로 영문 소문자와 숫자만 사용하여 입력해 주세요. 최대 20자 입력 가능합니다.​
                            <div class="tooltip-caret"></div>
                        </div>
                    </label>
                    <input placeholder="p89_project1" class="ember-text-field form-control" type="text">
                </div>
            </div><!-- //row -->
        </div><!-- //tab1 content -->

        <!-- button area -->
        <div class="text-center mt80"> 
            <button class="btn bg-primary" type="submit" onclick="location.href='SC_KS_01_001.html'" title="쿠버네티스 서비스 등록​">
                쿠버네티스 서비스 등록​
            </button>
            <button class="btn bg-transparent" onclick="location.href='SC_KS_01_001.html'" title="취소">
                취소
            </button>
        </div>

    </div>
    </section>