{{#containers-header showGroup=false}}
    <button {{action 'importYaml'}} class="btn btn-sm bg-primary" disabled={{rbac-prevents resource="persistentvolumeclaim" scope="project" permission="create"}}>
      <i class="icon icon-yaml"></i>
      {{t 'nav.containers.importCompose'}}
    </button>
  {{#link-to "volumes.new" class="btn btn-sm bg-primary"}}
    <i class="icon icon-register"></i>
    {{t 'nav.containers.addVolume'}}
  {{/link-to}}
{{/containers-header}}

{{#if rows.length}}
<section class="pl-0 pr-0">
  {{#if hubpop.cardUse}}
    {{#card-list
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      subRows=true
      descending=descending
      groupByKey=groupTableBy
      groupByRef="namespace"
      pagingLabel="pagination.volume"
      subHeaders=containerHeaders
      subSearchField="instances"
      headers=headers 
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |cardList kind obj dt|
      }}
      {{#if (eq kind "headSection")}}      
        {{namespace-group-card model=obj.ref}}    
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{obj.initial}}">
              <span>{{obj.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=obj.id}}
                </div>
                <span class="tit">
                  <a href="{{href-to "volumes.detail" obj.id}}">
                    {{obj.displayName}}
                  </a>
                </span>              
                {{action-menu model=obj}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=obj}}</span>
                <span class="date">{{date-str obj.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{dt.size}}</strong>
                <span>{{obj.displaySize}}</span>
              </li>
              <li>
                <strong>{{dt.volume}}</strong>
                {{#if obj.persistentVolume}}
                  <a href="{{href-to "authenticated.cluster.storage.persistent-volumes.detail" scope.currentCluster.id obj.persistentVolume.id}}">
                    {{obj.persistentVolume.displayName}}
                  </a>
                {{else}}
                  <span>&ndash;</span>
                {{/if}}
              </li>
              <li>
                <strong>{{dt.storageClass}}</strong>
                {{#if obj.storageClass}}
                  <a href="{{href-to "authenticated.cluster.storage.classes.detail" scope.currentCluster.id obj.storageClass.id}}">
                    {{obj.storageClass.displayName}}
                  </a>
                {{else}}
                  <span>&ndash;</span>
                {{/if}}
              </li>
            </ul>
          </div>
        </div>   
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}      
        
      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      subRows=true
      descending=descending
      groupByKey=groupTableBy
      groupByRef="namespace"
      pagingLabel="pagination.volume"
      subHeaders=containerHeaders
      subSearchField="instances"
      headers=headers 
      cardChoice=true
      hubpop=hubpop
      as |sortable kind obj dt|}}
      {{#if (eq kind "row")}}
        <tr class="main-row">
          <td class="row-check" valign="middle" style="padding-top: 2px;">
            {{check-box nodeId=obj.id}}
          </td>
          <td data-title="{{dt.state}}">
            {{badge-state model=obj}}
          </td>
          <td data-title="{{dt.name}}">
            <a href="{{href-to "volumes.detail" obj.id}}">{{obj.displayName}}</a>
          </td>
          <td data-title="{{dt.size}}">
            {{obj.displaySize}}
          </td>
          <td data-title="{{dt.volume}}">
            {{#if obj.persistentVolume}}
              <a href="{{href-to "authenticated.cluster.storage.persistent-volumes.detail" scope.currentCluster.id obj.persistentVolume.id}}">
                {{obj.persistentVolume.displayName}}
              </a>
            {{else}}
              <span class="text-muted">&ndash;</span>
            {{/if}}
          </td>
          <td data-title="{{dt.storageClass}}">
            {{#if obj.storageClass}}
              <a href="{{href-to "authenticated.cluster.storage.classes.detail" scope.currentCluster.id obj.storageClass.id}}">
                {{obj.storageClass.displayName}}
              </a>
            {{else}}
              <span class="text-muted">&ndash;</span>
            {{/if}}
          </td>
          <td data-title="{{dt.actions}}" class="actions">
            {{action-menu model=obj}}
          </td>
        </tr>
      {{else if (eq kind "group")}}
        {{namespace-group model=obj.ref fullColspan=sortable.fullColspan}}
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'volumesPage.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">
            {{t "volumesPage.noData"}}
          </td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
{{else}}
<section class="row_wrap panel_add type3 kb-panel mb-20">
  <div class="guide_area type5">
    <span class="txt">
      등록된 볼륨 정보가 없습니다.<br>
      <strong>'볼륨 등록'</strong>을 통해 필요한 볼륨을 등록하여 이용하세요.
    </span>
  </div>
</section>  
{{/if}}