{{#if model.supported}}
  {{#if rows.length}}
    <section class="pl-0 pr-0">
      {{#if hubpop.cardUse}}
        {{#card-list 
          classNames="grid sortable-table"
          body=rows
          searchText=searchText
          sortBy=sortBy
          bulkActions=true
          descending=descending
          subRows=true
          groupByKey="namespaceId"
          groupByRef="namespace"
          pagingLabel="pagination.virtualServices"
          headers=headers 
          paging=false
          cardInit=3
          cardChoice=true
          hubpop=hubpop
          as |cardList kind inst dt|
          }}
          {{#if (eq kind "headSection")}}
            {{namespace-group-card
              model=inst.ref
              noGroup="namespaceGroup.project"
            }} 
          {{/if}}
          {{#if (eq kind "card")}}
            <div class="kb-lst">
              <div class="kb-lst-header">
                <div class="initial initial-{{inst.initial}}">
                  <span>{{inst.initial}}</span>
                </div>
                <div>
                  <div class="tit-wrap">
                    <div class="checkbox row-check">
                      {{check-box nodeId=inst.id}}
                    </div>
                    <span class="tit">
                      {{#link-to "virtual-service.detail" inst.id}}
                        {{inst.displayName}}
                      {{/link-to}}
                    </span>              
                    {{action-menu model=inst}}              
                  </div>
                  <div class="state-wrap">
                    <span class="state">{{badge-state model=inst}}</span>
                    <span class="date">{{date-str inst.created}}</span>
                  </div>
                </div>
              </div>

              <div class="kb-lst-content list-type2">
                <ul>
                  <li>
                    <strong>{{dt.hosts}}</strong>
                    <span>
                      {{#tooltip-element
                        type="tooltip-basic"
                        tooltipTemplate="tooltip-multi-lines"
                        model=inst.hosts
                        inlineBlock=true
                      }}
                        {{inst.displayHostsString}}
                      {{/tooltip-element}}
                    </span>
                  </li>
                </ul>
              </div>
            </div> 
          {{else if (eq kind "nomatch")}}
            <section class="ncz_msg_empty mt80">
              <strong>검색된 데이터가 없습니다.</strong>
              <span>다른 조건으로 검색해 보세요.</span>
            </section>
          {{else if (eq kind "norows")}}  

          {{/if}}
        {{/card-list}}
      {{else}}
        {{#sortable-table
          classNames="grid sortable-table"
          body=rows
          searchText=searchText
          sortBy=sortBy
          bulkActions=true
          descending=descending
          subRows=true
          groupByKey="namespaceId"
          groupByRef="namespace"
          pagingLabel="pagination.virtualServices"
          headers=headers 
          cardChoice=true
          hubpop=hubpop
          as |sortable kind inst dt|
        }}
          {{#if (eq kind "row")}}
            {{virtual-service-row
              model=inst
              searchText=searchText
              subMatches=sortable.subMatches
              fullColspan=sortable.fullColspan
              dt=dt
            }}
          {{else if (eq kind "group")}}
            {{namespace-group
              model=inst.ref
              fullColspan=sortable.fullColspan
            }}
          {{else if (eq kind "nomatch")}}
            <tr>
              <td
                colspan="{{sortable.fullColspan}}"
                class="text-center text-muted pt-20 pb-20"
              >
                {{t "virtualServicePage.noMatch"}}
              </td>
            </tr>
          {{else if (eq kind "norows")}}
            <tr>
              <td
                colspan="{{sortable.fullColspan}}"
                class="text-center text-muted pt-20 pb-20"
              >
                {{t "virtualServicePage.noData"}}
              </td>
            </tr>
          {{/if}}
        {{/sortable-table}}
      {{/if}}
    </section>
  {{else}}
    <section class="row_wrap panel_add type3 kb-panel mb-20">
      <div class="guide_area type7">
        <span class="txt">
          등록된 버추얼 서비스가 없습니다.<br>
          <strong>'버추얼 서비스 등록'</strong>을 통해 필요한 서비스를 등록하세요.
        </span>
      </div>
    </section>
  {{/if}}
{{else}}
  {{banner-message
    icon="icon-alert"
    color="bg-warning mb-10"
    message=(t "virtualServicePage.notSupported" htmlSafe=true)
  }}
{{/if}}