{{#containers-header showGroup=false}}
  <button {{action 'importYaml'}} class="btn btn-sm bg-primary" disabled={{rbac-prevents resource="ingress" scope="project" permission="create"}}>
    <i class="icon icon-yaml"></i>
    {{t 'nav.containers.importCompose'}}
  </button>
  {{#link-to "ingresses.run" scope.currentProject.id class="btn btn-sm bg-primary" disabled=(rbac-prevents resource="ingress" scope="project" permission="create")}}
    <i class="icon icon-register"></i>
    {{t 'nav.containers.addIngress'}}
  {{/link-to}}
{{/containers-header}}

{{#if rows.length}}
<section class="pl-0 pr-0">
  {{#if hubpop.cardUse}}
    {{#card-list
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      descending=descending
      bulkActions=true
      groupByKey="namespaceId"
      groupByRef="namespace"
      pagingLabel="pagination.ingress"
      subSearchField="instances"
      headers=headers 
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |cardList kind inst dt|
      }}
      {{#if (eq kind "headSection")}} 
        {{namespace-group-card model=inst.ref}}
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{inst.initial}}">
              <span>{{inst.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=inst.id}}
                </div>
                <span class="tit">
                  {{#if (eq inst.type "service")}}
                    {{inst.displayName}}
                  {{else}}
                    <a href="{{href-to "ingress" inst.id}}">{{inst.displayName}}</a>
                  {{/if}}
                </span>              
                {{action-menu model=inst}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=inst}}</span>
                <span class="date">{{date-str inst.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{inst.displayKind}}</strong>
              </li>
              {{#if inst.targets.length}}
              <li>
                <strong>{{dt.targets}}</strong>
                {{#each inst.targets as |tgt|}}
                  <span>
                    {{#if tgt.host}}
                      <a href="{{if tgt.tls 'https' 'http'}}://{{tgt.host}}{{tgt.path}}" target="_blank" rel="noopener noreferrer nofollow">{{tgt.host}}{{tgt.path}}</a>
                    {{else if tgt.path}}
                      {{tgt.path}}
                    {{else}}
                      {{t 'generic.default'}}
                    {{/if}}

                    {{#if tgt.service}}
                      <i class="icon icon-chevron-right"/>
                      <a href="{{href-to "authenticated.project.dns.detail" tgt.service.id}}">{{tgt.service.displayName}}</a>
                    {{else if tgt.workload}}
                      <i class="icon icon-chevron-right"/>
                      <a href="{{href-to "workload" tgt.workload.id}}">{{tgt.workload.displayName}}</a>
                    {{else}}
                      <i class="icon icon-chevron-right"/>
                      {{tgt.reference}}
                    {{/if}}
                  </span>
                {{/each}}
              </li>
              {{/if}}
            </ul>
          </div>
        </div>   
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}      
      
      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      descending=descending
      bulkActions=true
      groupByKey="namespaceId"
      groupByRef="namespace"
      pagingLabel="pagination.ingress"
      subSearchField="instances"
      headers=headers 
      cardChoice=true
      hubpop=hubpop
      as |sortable kind inst dt|
    }}
      {{#if (eq kind "row")}}
        <tr class="main-row">
          <td class="row-check" valign="middle" style="padding-top: 2px;">
            {{check-box nodeId=inst.id}}
          </td>
          <td data-title="{{dt.state}}" class="state">
            {{badge-state model=inst}}
          </td>
          <td data-title="{{dt.name}}" class="clip">
            {{#if (eq inst.type "service")}}
              {{inst.displayName}}
            {{else}}
              <a href="{{href-to "ingress" inst.id}}">{{inst.displayName}}</a>
            {{/if}}
            <div class="text-small text-muted">{{inst.displayKind}}</div>
          </td>
          <td data-title="{{dt.targets}}" class="force-wrap">
            {{#each inst.targets as |tgt|}}
              <div class="text-small">
                {{#if tgt.host}}
                  <a href="{{if tgt.tls 'https' 'http'}}://{{tgt.host}}{{tgt.path}}" target="_blank" rel="noopener noreferrer nofollow">{{tgt.host}}{{tgt.path}}</a>
                {{else if tgt.path}}
                  {{tgt.path}}
                {{else}}
                  {{t 'generic.default'}}
                {{/if}}

                {{#if tgt.service}}
                  <i class="icon icon-chevron-right"/>
                  <a href="{{href-to "authenticated.project.dns.detail" tgt.service.id}}">{{tgt.service.displayName}}</a>
                {{else if tgt.workload}}
                  <i class="icon icon-chevron-right"/>
                  <a href="{{href-to "workload" tgt.workload.id}}">{{tgt.workload.displayName}}</a>
                {{else}}
                  <i class="icon icon-chevron-right"/>
                  {{tgt.reference}}
                {{/if}}
              </div>
            {{/each}}
          </td>
          <td data-title="{{dt.created}}" class="text-right pr-20">
            {{date-str inst.created}}
          </td>
          <td data-title="{{dt.actions}}" class="actions">
            {{action-menu model=inst}}
          </td>
        </tr>
      {{else if (eq kind "group")}}
        {{namespace-group model=inst.ref fullColspan=sortable.fullColspan}}
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'ingressPage.table.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">
            {{t "ingressPage.table.noData"}}
          </td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
{{else}}
<section class="row_wrap panel_add type3 kb-panel mb-20">
  <div class="guide_area type3">
    <span class="txt">
      로드밸런서란, 서비스 트래픽이 많을 때<br>
      서버의 로드율 증가, 부하량, 속도저하 등을 고려하여 적절하게 분산 처리하는 서비스입니다.<br>
      로드 밸런싱이 필요할 경우, <br>
      <strong>'인그레스 등록' 또는 'YAML 가져오기'</strong>를 통해 <strong>새로운 로드밸런서를 등록</strong>해 주세요.
    </span>
  </div>
</section>
{{/if}}
