<div class="kb-lst">
  <div class="kb-lst-header">
    {{#if canExpand}}
      <div class="btn-wrap">
        <i role="button" {{action "toggle"}} class="icon icon-play {{if expanded 'icon-rotate-90'}}">
          <span class="visually-hidden">Open accordion</span>
        </i>
      </div>
    {{/if}}
    <div class="initial initial-{{model.initial}}">
      <span>{{model.initial}}</span>
    </div>
    <div>
      <div class="tit-wrap">
        <div class="checkbox row-check">
          {{check-box nodeId=model.id}}
        </div>
        <span class="tit">
          <a href="{{href-to "workload" model.id}}">
            {{model.displayName}} 
            <i class="{{model.activeIcon}}"></i>
          </a>
        </span>              
        {{action-menu model=model}}              
      </div>
      <div class="state-wrap">
        <span class="state">{{badge-state model=model}}</span>
        <span class="date">{{date-str model.created}}</span>
      </div>
    </div>
  </div>

  <div class="kb-lst-content list-type2">
    {{#if showImage}}
    <ul>
      <li>
        <strong>{{dt.image}}</strong>
        <span>​{{model.displayImage}}</span>
      </li>
      <li>
        <strong>URL: </strong>
        <span>
          {{#if model.displayEndpoints}}
            {{model.displayEndpoints}}
          {{/if}}
        </span>
      </li>
      <li>
        <strong>Pod: </strong>
        <span>
          {{#if subMatches}}
            {{#if (eq (get subMatches model.id) 0)}}
              {{t "pagination.podNoSubset" count=podCount htmlSafe=true}}
            {{else if (lt (get subMatches model.id) podCount)}}
              {{t "pagination.podHighlightSubset" subset=(get subMatches model.id) count=podCount htmlSafe=true}}
            {{else}}
              <b>{{t "pagination.pod" pages=1 count=podCount}}</b>
            {{/if}}
          {{else}}
            {{t "pagination.pod" pages=1 count=(concat podCount "")}}
          {{/if}}
        </span>
      </li>
      <li>
        <strong>{{dt.scale}}</strong>
        <div style='display:inline-block;width:50px'>
          {{progress-bar-multi
            classNames="mt-5"
            labelKey="state"
            valueKey="count"
            values=model.podStates.byColor
            tooltipValues=model.podStates.byName
          }}
          <small class="text-muted">{{model.displayScale}}</small>
        </div>
        
          <span class="btn-group-xs">
            <button class="btn btn-xs btn-round btn-r-sm bg-primary" {{action "scaleDown" target=model}} disabled={{not model.canScaleDown}}><i class="icon icon-minus icon-fw"/></button>
            <button class="btn btn-xs btn-round btn-r-sm bg-primary" {{action "scaleUp" target=model}} disabled={{not model.canScaleUp}}><i class="icon icon-plus icon-fw"/></button>
          </span>
        
      </li>
    </ul>
    {{/if}}
    {{#if model.showTransitioningMessage}}
      <small class="{{model.stateColor}}">{{uc-first model.transitioningMessage}}</small>
    {{/if}}
  </div>

  {{#if canExpand}}
  {{#if expanded}}
    <div class="kb-lst-footer">
      <span>
        {{pod-dots
          pods=model.pods
          searchText=searchText
          groupByPod=model.hasSidekicks
        }}
      </span>
    </div>
  {{/if}}
  {{/if}}
</div>  


