<tr class="main-row">
  <td data-title="{{dt.provider}}">
    <small>{{model.displayProvider}}</small>
  </td>
  <td data-title="{{dt.name}}">
    {{#link-to-external "authenticated.cluster" model.id}}
      {{model.displayName}}
    {{/link-to-external}}

    {{#if (and model.displayWarnings.length (not-eq model.state "waiting") (not-eq model.state "provisioning"))}}
      {{#tooltip-element
          type="tooltip-basic"
          tooltipTemplate='tooltip-multi-lines'
          model=model.displayWarnings
          inlineBlock=true
      }}
        <i class="icon icon-alert text-error" />
      {{/tooltip-element}}
    {{/if}}

    {{#if model.certsExpiring}}
      {{#tooltip-element
         type="tooltip-expiring"
         model=model
         tooltipTemplate="tooltip-static"
         aria-describedby="tooltip-base"
         tooltipFor="tooltipCertExpire"
      }}
        <i class="icon icon-alert text-warning" />
      {{/tooltip-element}}
    {{/if}}

    {{cluster-template-revision-upgrade-notification cluster=model}}
  </td>
  <td data-title="{{dt.project}}">
    <a href="{{href-to "authenticated.project" model.defaultProject.id}}">
      {{model.defaultProject.displayName}}
    </a>
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  
  {{#if (eq model.state "inactive")}}
    <td class="text-center">
      {{t "clusterRow.noHosts"}}
    </td>
  {{else}}
    <td data-title="{{dt.resource}}">
      {{t "clustersPage.cpu.label"}}: 
      {{#if model.cpuTotal}}
        <small>{{model.cpuTotal}}</small>
      {{else}}
        <span class="text-muted">{{t "generic.na"}}</span>
      {{/if}}

      {{t "clustersPage.memory.label"}}: 
      {{#if model.memoryTotal}}
        <small>{{model.memoryTotal}}</small>
      {{else}}
        <span class="text-muted">{{t "generic.na"}}</span>
      {{/if}}
      
      {{t "clustersPage.storage.label"}}: 0

      {{t "clustersPage.nodes.label"}}: 
      {{#if (gt (get subMatches model.id) 0)}}
        <b>{{model.machines.length}}</b>
      {{else}}
        {{model.machines.length}}
      {{/if}}
    </td>
  {{/if}}
  <td data-title="{{dt.created}}">
    {{date-str model.created}}
  </td>
  <td data-title="{{dt.actions}} "class="actions">
    {{action-menu model=model}}
  </td>
</tr>

{{#if model.showTransitioningMessage}}
  {{error-sub-row fullColspan=fullColspan model=model}}
{{/if}}