<tr class="main-row">
  <td valign="middle" class="row-check" style="padding-top: 2px;">
    {{check-box nodeId=model.id}}
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}" class="clip">
    {{#link-to "destination-rule.detail" model.id}}
      {{model.displayName}}
    {{/link-to}}
  </td>
  <td data-title="{{dt.host}}" class="clip">
    {{model.host}}
  </td>
  <td data-title="{{dt.subsets}}" class="clip">
    {{#tooltip-element
      type="tooltip-basic"
      tooltipTemplate="tooltip-multi-lines"
      model=model.displaySubsets
      inlineBlock=true
    }}
      {{model.displaySubsetsString}}
    {{/tooltip-element}}
  </td>
  <td data-title="{{dt.created}}" class="text-right pr-20">
    {{date-str model.created}}
  </td>
  <td data-title="{{dt.actions}}" class="actions">
    {{action-menu model=model}}
  </td>
</tr>