<section class="header clearfix">
  <div class="right-buttons">
    <div class="btn-group p-0 mr-10">
      {{#tooltip-element type="tooltip-basic" model=(t 'nav.group.none') tooltipTemplate='tooltip-static' aria-describedby="tooltip-base" tooltipFor="tooltipLink"}}
        {{#link-to (query-params group="none") classNames="btn btn-sm bg-default"}}<i class="icon icon-file"></i>{{/link-to}}
      {{/tooltip-element}}

      {{#tooltip-element type="tooltip-basic" model=(t 'nav.group.namespace') tooltipTemplate='tooltip-static' aria-describedby="tooltip-base" tooltipFor="tooltipLink"}}
        {{#link-to (query-params group="namespace") classNames="btn btn-sm bg-default"}}<i class="icon icon-list-nested"></i>{{/link-to}}
      {{/tooltip-element}}
    </div>

    <button {{action 'importYaml'}} class="btn btn-sm bg-primary" disabled={{rbac-prevents resource="configmap" scope="project" permission="create"}}>
      <i class="icon icon-yaml"></i>
      {{t 'nav.containers.importCompose'}}
    </button>

    {{#link-to "authenticated.project.config-maps.new" classNames="btn btn-sm bg-primary" disabled=(rbac-prevents resource=resource scope="project" permission="create")}}
      <i class="icon icon-register"></i>
      {{t 'configMapsPage.index.linkTo'}}
    {{/link-to}}
  </div>

  <h1>{{t 'configMapsPage.index.header'}}</h1>
</section>

{{#if rows.length}}
<section class="instances pt-5 pb-5">
  {{#if hubpop.cardUse}}
    {{#card-list 
      classNames="grid sortable-table"
      body=rows
      descending=descending
      groupByKey=groupTableBy
      groupByRef="namespace"
      sortBy=sortBy
      bulkActions=true
      headers=headers 
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |cardList kind row dt|
      }}
      {{#if (eq kind "headSection")}}
        {{namespace-group-card
          model=row.ref
          noGroup="namespaceGroup.project"
        }} 
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{row.initial}}">
              <span>{{row.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=row.id}}
                </div>
                <span class="tit">
                  {{#link-to-external 'authenticated.project.config-maps.detail' row.id}}
                    {{row.displayName}}
                  {{/link-to-external}}
                </span>              
                {{action-menu model=row}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=row}}</span>
                <span class="date">{{date-str row.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{dt.namespace}}</strong>
                {{#if row.namespace}}
                  <span>{{row.namespace.displayName}}</span>
                {{else}}
                  <span>{{t 'generic.all'}}</span>
                {{/if}}
              </li>
              <li>
                <strong>{{dt.keys}}</strong>
                <span>{{join-array row.keys}}</span>
              </li>
            </ul>
          </div>
        </div> 
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}  

      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=rows
      descending=descending
      groupByKey=groupTableBy
      groupByRef="namespace"
      sortBy=sortBy
      bulkActions=true
      headers=headers 
      cardChoice=true
      hubpop=hubpop
      as |sortable kind row dt|}}
      {{#if (eq kind "row")}}
        {{config-map-row model=row dt=dt}}
      {{else if (eq kind "group")}}
        {{namespace-group model=row.ref noGroup="namespaceGroup.project" fullColspan=sortable.fullColspan}}
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'configMapsPage.index.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'configMapsPage.index.noData'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
{{else}}
<section class="row_wrap panel_add type3 kb-panel mb-20">
  <div class="guide_area type11">
    <span class="txt">
      등록된 설정 맵이 없습니다.<br>
      설정 맵을 이용하면, 컨테이너 이미지에서 해당 환경에 국한된 설정을 분리할 수 있습니다.<br>
      <strong>‘설정 맵 등록’</strong>을 통해 필요한 환경을 자유롭게 설정해 보세요
    </span>
  </div>
</section>
{{/if}}
