<section class="header clearfix">
  <h1 class="pull-left">
    {{t "clustersPage.header"}}
  </h1>

  <div class="vertical-middle"></div>

  <div class="right-buttons">
    {{#link-to
       "clusters.new.index"
       class="btn btn-sm bg-primary"
       disabled=(rbac-prevents resource="cluster" scope="global" permission="create")
    }}
      {{t "clustersPage.newCluster"}}
    {{/link-to}}
  </div>
</section>

{{#if rows.length}}
  {{#if hubpop.cardUse}}
    {{#card-list 
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      descending=descending
      sortBy=sortBy
      bulkActions=false
      extraSearchFields=extraSearchFields
      extraSearchSubFields=extraSearchSubFields
      subSearchField="nodes"
      pagingLabel="pagination.cluster"
      headers=headers 
      groupByKey="none"
      groupByRef="none"
      paging=false
      cardInit=2
      cardChoice=true
      hubpop=hubpop
      as |sortable kind inst dt|
      }}
      {{#if (eq kind "card")}}
        {{#if (eq inst.type "project")}}
          {{project-card
            model=inst
            launchOnCluster=(action "launchOnCluster")
            useKubernetes=(action "useKubernetes")
            subMatches=sortable.subMatches
            dt=dt
          }}
        {{else}}
          {{cluster-card
            model=inst
            launchOnCluster=(action "launchOnCluster")
            useKubernetes=(action "useKubernetes")
            subMatches=sortable.subMatches
            dt=dt
          }}
        {{/if}}
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}  

      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      descending=descending
      sortBy=sortBy
      bulkActions=false
      extraSearchFields=extraSearchFields
      extraSearchSubFields=extraSearchSubFields
      subSearchField="nodes"
      pagingLabel="pagination.cluster"
      headers=headers 
      cardChoice=true
      hubpop=hubpop
      as |sortable kind inst dt|
    }}
      {{#if (eq kind "row")}}
        {{#if (eq inst.type "project")}}
          {{project-row
            model=inst
            fullColspan=sortable.fullColspan
            launchOnCluster=(action "launchOnCluster")
            useKubernetes=(action "useKubernetes")
            subMatches=sortable.subMatches
            dt=dt
          }}
        {{else}}
          {{cluster-row
            model=inst
            fullColspan=sortable.fullColspan
            launchOnCluster=(action "launchOnCluster")
            useKubernetes=(action "useKubernetes")
            subMatches=sortable.subMatches
            dt=dt
          }}
        {{/if}}
      {{else if (eq kind "nomatch")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">
            {{t "clusterRow.noClusterMatch"}}
          </td>
        </tr>
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">
            {{t "clusterRow.noClusterData"}}
          </td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
{{else}}
<section>
  <div class="panel_add">
    <button type="button" class="btn btn_white large icon_kb" onclick="location.href='SC_KS_01_003.html'">서비스 등록</button>
    <div class="guide_area type1">
      <span class="btn_guide">클러스터를 선택하여 쿠버네티스 서비스를 등록합니다.​</span>
      <span class="txt">
        <strong>쿠버네티스 서비스</strong>는<br>
        <strong>컨테이너 기반 응용 프로그램 및 서비스를 보다 쉽게 ​​배포, 관리 및 확장</strong> 할 수 있게 해주는 서비스입니다.<br>
        서비스를 이용하시려면 우선 쿠버네티스 서비스를 등록해야 합니다.​
      </span>
    </div>
  </div>
</section>
{{/if}}
