{{#if rows.length}}
  {{#if hubpop.cardUse}}
    {{#card-list 
      tableClassNames="bordered"
      paging=true
      pagingLabel="pagination.volume"
      headers=headers
      bulkActions=true
      descending=descending
      body=rows
      sortBy=sortBy
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |sortable kind obj dt|
      }}
      {{#if (eq kind "headSection")}}
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{obj.initial}}">
              <span>{{obj.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=obj.id}}
                </div>
                <span class="tit">
                  <a href="{{href-to "authenticated.cluster.storage.persistent-volumes.detail" obj.id}}">
                    {{obj.displayName}}
                  </a>
                </span>              
                {{action-menu model=obj}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=obj}}</span>
                <span class="date">{{date-str obj.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{dt.displayPvc}}</strong>
                {{#if obj.displayPvc}}
                  <span>
                    {{obj.displayPvc}}
                  </span>
                {{else}}
                  <span class="text-muted">
                    {{t "generic.na"}}
                  </span>
                {{/if}}
              </li>
              <li>
                <strong>{{dt.source}}</strong>
                <span>{{obj.displaySource}}</span>
              </li>
            </ul>
          </div>
        </div> 
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}  

      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      tableClassNames="bordered"
      paging=true
      pagingLabel="pagination.volume"
      headers=headers
      bulkActions=true
      descending=descending
      body=rows
      sortBy=sortBy
      cardChoice=true
      hubpop=hubpop
      as |sortable kind obj dt|
    }}
      {{#if (eq kind "row")}}
        <tr class="main-row">
          <td class="row-check" valign="middle" style="padding-top: 2px;">
            {{check-box nodeId=obj.id}}
          </td>
          <td data-title="{{dt.state}}">
            {{badge-state model=obj}}
          </td>
          <td data-title="{{dt.name}}">
            <a href="{{href-to "authenticated.cluster.storage.persistent-volumes.detail" obj.id}}">{{obj.displayName}}</a>
          </td>
          <td data-title="{{dt.displayPvc}}">
            {{#if obj.displayPvc}}
              {{obj.displayPvc}}
            {{else}}
              <div class="text-muted">
                {{t "generic.na"}}
              </div>
            {{/if}}
          </td>
          <td data-title="{{dt.source}}">
            {{obj.displaySource}}
          </td>
          <td data-title="{{dt.actions}}" class="actions">
            {{action-menu model=obj}}
          </td>
        </tr>
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t "persistentVolumePage.noMatch"}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t "persistentVolumePage.noData"}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
{{else}}
<div>데이터 없음</div>
{{/if}}
