<div class="kb-lst">
  <div class="kb-lst-header">
    <div class="initial ico_cluster ic_1"> 
      <span></span>
    </div>
    <div>
      <div class="tit-wrap">
        <span class="tit">
          <a href="{{href-to "authenticated.project" model.defaultProject.id}}">
            {{model.defaultProject.displayName}}
          </a>

          {{#if (and model.displayWarnings.length (not-eq model.state "waiting") (not-eq model.state "provisioning"))}}
            {{#tooltip-element
                type="tooltip-basic"
                tooltipTemplate='tooltip-multi-lines'
                model=model.displayWarnings
                inlineBlock=true
            }}
              <i class="icon icon-alert text-error" />
            {{/tooltip-element}}
          {{/if}}

          {{#if model.certsExpiring}}
            {{#tooltip-element
              type="tooltip-expiring"
              model=model
              tooltipTemplate="tooltip-static"
              aria-describedby="tooltip-base"
              tooltipFor="tooltipCertExpire"
            }}
              <i class="icon icon-alert text-warning" />
            {{/tooltip-element}}
          {{/if}}
        </span>              
        {{action-menu model=model}}              
      </div>
      <div class="state-wrap">
        <span class="state">{{badge-state model=model}}</span>
        <span class="date">{{date-str model.created}}</span>
      </div>
    </div>
  </div>
  <div class="kb-lst-content">
    <ul class="ico_cluster_s">
      <li class="ic_s3">
        <strong>{{t "clustersPage.cpu.label"}}: </strong>
        {{#if model.cpuTotal}}
          <span>{{model.cpuTotal}}</span>
        {{else}}
          <span>{{t "generic.na"}}</span>
        {{/if}}
      </li>
      <li class="ic_s4">
        <strong>{{t "clustersPage.memory.label"}}: </strong>
        {{#if model.memoryTotal}}
          <span>{{model.memoryTotal}}</span>
        {{else}}
          <span>{{t "generic.na"}}</span>
        {{/if}}
      </li>
      <li class="ic_s5">
        <strong>{{t "clustersPage.storage.label"}}: </strong>
        <span>0</span>
      </li>
      <li class="ic_s6">
        <strong>{{t "clustersPage.nodes.label"}}: </strong>
        <span>{{model.machines.length}}</span>
      </li>
    </ul>
    {{#if model.showTransitioningMessage}}
      <small class="{{model.stateColor}}">{{uc-first model.transitioningMessage}}</small>
    {{/if}}
  </div>
</div> 