{{#if filteredAlerts.length}}
  {{#if hubpop.cardUse}}
    {{#card-list 
      tableClassNames="bordered"
      classNames="grid sortable-table"
      bulkActions=bulkActions
      paging=paging
      fullRows=fullRows
      search=search
      sortBy=sortBy
      suffix=true
      searchText=searchText
      descending=descending
      headers=headers
      groupByKey="groupId"
      groupByRef="group"
      body=filteredAlerts
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |cardList kind row dt|
      }}
      {{#if (eq kind "headSection")}}
        {{alert/alert-group-card
          model=row
          groups=groups
          noGroup="alertPage.index.table.noGroup"
        }}
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{row.initial}}">
              <span>{{row.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=row.id}}
                </div>
                <span class="tit">
                  {{#tooltip-element
                    type="tooltip-basic"
                    model=row.name
                    tooltipTemplate="tooltip-static"
                    aria-describedby="tooltip-base"
                    tooltipFor="tooltipLink"
                    placement="top"
                    clip=true
                    inlineBlock=true
                  }}
                    {{row.name}}
                  {{/tooltip-element}}
                </span>              
                {{action-menu model=row}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=row}}</span>
                <span class="date">{{date-str row.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            {{#if (eq pageScope "cluster")}}
              {{cluster-alert-card
                notifiers=filteredNotifiers
                model=row
                dt=dt
                canExpand=false
                groups=groups
              }}
            {{else if (eq pageScope "project")}}
              {{project-alert-card 
                notifiers=filteredNotifiers
                model=row
                dt=dt
                canExpand=false
                groups=groups
              }}
            {{/if}}   
          </div>
        </div> 
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}  

      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      tableClassNames="bordered"
      classNames="grid sortable-table"
      bulkActions=bulkActions
      paging=paging
      fullRows=fullRows
      search=search
      sortBy=sortBy
      suffix=true
      searchText=searchText
      descending=descending
      headers=headers
      groupByKey="groupId"
      groupByRef="group"
      body=filteredAlerts
      cardChoice=true
      hubpop=hubpop
      as |sortable kind row dt|
    }}
      {{#if (eq kind "row")}}
        {{#if (eq pageScope "cluster")}}
          {{cluster-alert-row
            notifiers=filteredNotifiers
            model=row
            dt=dt
            canExpand=false
            groups=groups
          }}
        {{else if (eq pageScope "project")}}
          {{project-alert-row
            notifiers=filteredNotifiers
            model=row
            dt=dt
            canExpand=false
            groups=groups
          }}
        {{/if}}
      {{else if (eq kind "nomatch")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t "alertPage.index.table.noMatch"}}</td>
        </tr>
      {{else if (eq kind "norows")}}
        {{#unless groupsWithoutAlerts.length}}
          <tr>
            <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t "alertPage.index.table.noData"}}</td>
          </tr>
        {{/unless}}
      {{else if (eq kind "group")}}
        {{alert/alert-group
          model=row
          fullColspan=sortable.fullColspan
          groups=groups
          noGroup="alertPage.index.table.noGroup"
        }}
      {{else if (eq kind "suffix")}}
        {{#if (and groupsWithoutAlerts.length (not searchText.length))}}
          <tbody class="fixed grid group">
            {{#each groupsWithoutAlerts as |group|}}
              {{alert/alert-group
                  model=group
                  noAlerts=true
                  fullColspan=sortable.fullColspan
                  groups=groups
                  hasOtherGroups=(not-eq groupsWithoutAlerts.length groups.length)
              }}
            {{/each}}
          </tbody>
        {{/if}}
      {{/if}}
    {{/sortable-table}}
  {{/if}}
{{else}}
<section class="row_wrap panel_add type3 kb-panel mb-20">
  <div class="guide_area type14">
    <span class="txt">
      등록된 프로젝트 알림이 없습니다<br>
      리소스(Pod, 워크로드, 워크로드 셀렉터) 선택 후, 상태에 따라 알림을 전송할 수 있습니다.<br>
      <strong>‘알림 등록’</strong>을 통해 필요한 알림 설정을 해 보세요.
    </span>
  </div>
</section>
{{/if}}
