{{#security-header}}
  <div class="btn-group p-0 mr-10">
    {{#tooltip-element
      type="tooltip-basic"
      model=(t "nav.group.none")
      tooltipTemplate="tooltip-static"
      aria-describedby="tooltip-base"
      tooltipFor="tooltipLink"
    }}
      {{#link-to
        (query-params group="none")
        classNames="btn btn-sm bg-default"
      }}
        <i class="icon icon-secrets"></i>
      {{/link-to}}
    {{/tooltip-element}}

    {{#tooltip-element
      type="tooltip-basic"
      model=(t "nav.group.namespace")
      tooltipTemplate="tooltip-static"
      aria-describedby="tooltip-base"
      tooltipFor="tooltipLink"
    }}
      {{#link-to
        (query-params group="namespace")
        classNames="btn btn-sm bg-default"
      }}
        <i class="icon icon-list-nested"></i>
      {{/link-to}}
    {{/tooltip-element}}
  </div>
  {{#link-to
    "authenticated.project.secrets.new"
    classNames="btn btn-sm bg-primary"
    disabled=(rbac-prevents resource=resource scope="project" permission="create")
  }}
    <i class="icon icon-register"></i>
    {{t "secretsPage.index.linkTo"}}
  {{/link-to}}
{{/security-header}}

{{#if rows.length}}
<section class="instances pt-5 pb-5">
  {{#if hubpop.cardUse}}
    {{#card-list 
      classNames="grid sortable-table"
      body=rows
      groupByKey=groupTableBy
      groupByRef="namespace"
      sortBy=sortBy
      bulkActions=true
      descending=descending
      headers=headers 
      paging=false
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |cardList kind row dt|
      }}
      {{#if (eq kind "headSection")}}
        {{namespace-group-card
          model=row.ref
          noGroup="namespaceGroup.project"
        }} 
      {{/if}}
      {{#if (eq kind "card")}}
        <div class="kb-lst">
          <div class="kb-lst-header">
            <div class="initial initial-{{row.initial}}">
              <span>{{row.initial}}</span>
            </div>
            <div>
              <div class="tit-wrap">
                <div class="checkbox row-check">
                  {{check-box nodeId=row.id}}
                </div>
                <span class="tit">
                  {{#link-to-external 'authenticated.project.secrets.detail' row.id}}
                    {{row.displayName}}
                  {{/link-to-external}}
                </span>              
                {{action-menu model=row}}              
              </div>
              <div class="state-wrap">
                <span class="state">{{badge-state model=row}}</span>
                <span class="date">{{date-str row.created}}</span>
              </div>
            </div>
          </div>
          <div class="kb-lst-content list-type2">
            <ul>
              <li>
                <strong>{{dt.namespace}}</strong>
                {{#if row.namespace}}
                  <span>{{row.namespace.displayName}}</span>
                {{else}}
                  <span>{{t 'generic.all'}}</span>
                {{/if}}
              </li>
              <li>
                <strong>{{dt.keys}}</strong>
                <span>{{join-array row.keys}}</span>
              </li>
            </ul>
            {{#if row.showTransitioningMessage}}
              <small class="{{row.stateColor}}">{{uc-first row.transitioningMessage}}</small>
            {{/if}}
          </div>
        </div> 
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}  

      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=rows
      groupByKey=groupTableBy
      groupByRef="namespace"
      sortBy=sortBy
      bulkActions=true
      descending=descending
      headers=headers 
      paging=true
      cardChoice=true
      hubpop=hubpop
      as |sortable kind row dt|
    }}
      {{#if (eq kind "row")}}
        {{secret-row
          model=row
          dt=dt
        }}
      {{else if (eq kind "group")}}
        {{namespace-group
          model=row.ref
          noGroup="namespaceGroup.project"
          fullColspan=sortable.fullColspan
        }}
      {{else if (eq kind "nomatch")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">
            {{t "secretsPage.index.noMatch"}}
          </td>
        </tr>
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">
            {{t "secretsPage.index.noData"}}
          </td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
{{else}}
<section class="row_wrap panel_add type3 kb-panel mb-20">
  <div class="guide_area type8">
    <span class="txt">
      등록된 시크릿 설정 내역이 없습니다.<br>
      컨테이너의 기밀 데이터를 설정할 때 이용할 수 있는 서비스입니다.<br>
      <strong>‘시크릿 등록’</strong>을 통해 필요한 기밀 데이터를 설정해 보세요.
    </span>
  </div>
</section>
{{/if}}

