{{#containers-header}}
  <button
    {{action "importYaml"}}
    class="btn btn-sm bg-primary"
    disabled={{rbac-prevents resource="workload" scope="project" permission="create"}}>
    <i class="icon icon-yaml"></i>
    {{t "nav.containers.importCompose"}}
  </button>

  {{#link-to
     "containers.run"
     scope.currentProject.id
     class="btn btn-sm bg-primary"
     disabled=(rbac-prevents resource="workload" scope="project" permission="create")
  }}
    <i class="icon icon-Deploy"></i>
    {{t "nav.containers.deploy"}}
  {{/link-to}}
{{/containers-header}}

{{#if rows.length}}
<section class="instances">
  {{#if hubpop.cardUse}}
    {{#card-list
      tableClassNames="double-rows"
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      descending=descending
      bulkActions=true
      subRows=true
      groupByKey=groupTableBy
      groupByRef=groupByRef
      pagingLabel="pagination.workload"
      subSearchField="pods"
      extraSearchFields=extraSearchFields
      extraSearchSubFields=extraSearchSubFields
      headers=headers
      cardInit=3
      cardChoice=true
      hubpop=hubpop
      as |cardList kind inst dt|
    }}
      {{#if (eq kind "headSection")}}      
        <div class="pull-left">
          <span class="tit">
            {{#if inst.ref.displayName}}
              {{t 'namespaceGroup.label' name=inst.ref.displayName}}       
            {{else}}
              {{t 'namespaceGroup.none'}}        
            {{/if}}
          </span> 
        </div>    
        <div class="right-buttons">
          {{#if inst.ref}}
            {{action-menu model=inst.ref}}
          {{/if}}  
        </div>
      {{/if}}
      {{#if (eq kind "card")}}
        {{#if (eq inst.type "pod")}}
          {{pod-card
            model=inst
            dt=dt
            expandPlaceholder=true
            scalePlaceholder=true
            toggle=(action "toggleExpand")
            showNode=(not-eq groupTableBy "nodeId")
            expanded=(array-includes expandedInstances inst.id)
          }}
        {{else}}
          {{workload-card
            model=inst
            toggle=(action "toggleExpand")
            expanded=(array-includes expandedInstances inst.id)
            searchText=searchText
            subMatches=sortable.subMatches
            dt=dt
          }}
        {{/if}}
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}      
      
      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      tableClassNames="double-rows"
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      descending=descending
      bulkActions=true
      subRows=true
      groupByKey=groupTableBy
      groupByRef=groupByRef
      pagingLabel="pagination.workload"
      subSearchField="pods"
      extraSearchFields=extraSearchFields
      extraSearchSubFields=extraSearchSubFields
      headers=headers 
      cardChoice=true
      hubpop=hubpop
      as |sortable kind inst dt|}}
      {{#if (eq kind "row")}}
        {{#if (eq inst.type "pod")}}
          {{pod-row
            model=inst
            dt=dt
            expandPlaceholder=true
            scalePlaceholder=true
            fullColspan=sortable.fullColspan
            toggle=(action "toggleExpand")
            showNode=(not-eq groupTableBy "nodeId")
            expanded=(array-includes expandedInstances inst.id)
          }}
        {{else}}
          {{workload-row
            model=inst
            toggle=(action "toggleExpand")
            expanded=(array-includes expandedInstances inst.id)
            searchText=searchText
            subMatches=sortable.subMatches
            fullColspan=sortable.fullColspan
            dt=dt
          }}
        {{/if}}
      {{else if (and (eq kind "group") (eq groupTableBy "nodeId"))}}
        {{node-group
          nodes=model.nodes
          nodeId=inst.ref.id
          fullColspan=sortable.fullColspan
        }}
      {{else if (eq kind "group")}}
        {{namespace-group
          model=inst.ref
          fullColspan=sortable.fullColspan
        }}
      {{else if (eq kind "nomatch")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">
            {{t "containersPage.table.noMatch"}}
          </td>
        </tr>
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">
            {{t "containersPage.table.noData"}}
          </td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
{{else}}
<section class="row_wrap panel_add kb-panel mb-20">
  <div class="guide_area type2">
    <span class="txt">
      네임스페이스 내에 배포된 컨테이너가 존재하지 않습니다.<br>
      <strong>‘워크로드 배포’</strong>을 통해 개발에 필요한 컨테이너를 배포해 보세요.
    </span>
  </div>
</section>
{{/if}}
