<tr class="main-row">
  <td valign="middle" class="row-check" style="padding-top: 2px;">
    {{check-box nodeId=model.id}}
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}" class="clip">
    {{#link-to "gateway.detail" model.id}}
      {{model.displayName}}
    {{/link-to}}
  </td>
  <td data-title="{{dt.hosts}}" class="clip">
    {{#tooltip-element
      type="tooltip-basic"
      tooltipTemplate="tooltip-multi-lines"
      model=model.displayHosts
      inlineBlock=true
    }}
      {{model.displayHostsString}}
    {{/tooltip-element}}
  </td>
  <td data-title="{{dt.created}}" class="text-right pr-20">
    {{date-str model.created}}
  </td>
  <td data-title="{{dt.actions}}" class="actions">
    {{action-menu model=model}}
  </td>
</tr>

{{#if model.displaySelectorStrings.length}}
  <tr class="sub-row">
    <td colspan="2">{{! checkbox and expand}}</td>
    <td colspan="4">
      {{#each model.displaySelectorStrings as |selector|}}
        <span class="tag-xs bg-warning mr-5">
          {{selector}}
        </span>
      {{/each}}
    </td>
  </tr>
{{/if}}