<section class="header clearfix">
  <div class="pull-left"><h1>{{t 'nav.apps.apps'}}</h1></div>

  <div class="right-buttons">
    {{#link-to "catalog-tab" classNames="btn btn-sm bg-primary" disabled=(rbac-prevents resource="app" scope="project" permission="create")}}
      <i class="icon icon-register"></i>
      {{t 'nav.apps.launch'}}
    {{/link-to}}
  </div>
</section>

{{#if apps.length}}
<section class="pl-0 pr-0">
  {{#if hubpop.cardUse}}
    {{#card-list 
      classNames="grid sortable-table"
      body=apps
      descending=descending
      groupByKey="none"
      groupByRef="none"
      sortBy=sortBy
      bulkActions=false
      headers=headers 
      paging=false
      cardInit=2
      cardChoice=true
      hubpop=hubpop
      as |cardList kind row dt|
      }}
      {{#if (eq kind "headSection")}}
      {{/if}}
      {{#if (eq kind "card")}}
        {{namespace-app model=row}}
      {{else if (eq kind "nomatch")}}
        <section class="ncz_msg_empty mt80">
					<strong>검색된 데이터가 없습니다.</strong>
					<span>다른 조건으로 검색해 보세요.</span>
				</section>
      {{else if (eq kind "norows")}}  

      {{/if}}
    {{/card-list}}
  {{else}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=apps
      descending=descending
      groupByKey="none"
      groupByRef="none"
      sortBy=sortBy
      bulkActions=false
      headers=headers 
      cardChoice=true
      hubpop=hubpop
      as |sortable kind row dt|}}
      {{#if (eq kind "row")}}
        <tr class="main-row">
          <!--
          <td class="row-check" valign="middle" style="padding-top: 2px;">
            {{check-box nodeId=row.id}}
          </td>
          -->
          <td data-title="{{dt.state}}" class="state">
            {{badge-state model=row}}
          </td>
          <td data-title="{{dt.name}}">
            {{#link-to-external 'apps-tab.detail' row.id}}
              {{row.displayName}}
            {{/link-to-external}}
            {{#if row.description}}
              <p data-title="{{t 'generic.description'}}" class="text-small text-muted m-0 clip">
                {{row.description}}
              </p>
            {{/if}}
          </td>
          <td data-title="{{dt.version}}">
            {{#upgrade-btn
             model=row
             launchRoute="catalog-tab.launch"
             classNames="btn-xs "
             as |btn|
            }}
              {{#if btn.model.externalIdInfo.version}}
                {{t (concat 'upgradeBtn.status.' btn.upgradeStatus)}}
                <span class="text-small">({{btn.latestVersion}})</span>
              {{else}}
                {{t (concat 'upgradeBtn.status.' btn.upgradeStatus)}}
              {{/if}}
            {{/upgrade-btn}}
          </td>
          <td data-title="{{dt.endpoint}}">
            {{row.displayEndpoints}}
          </td>
          <td data-title="{{dt.scale}}" class="text-center">
            {{progress-bar-multi
              labelKey="state"
              valueKey="count"
              values=row.podStates.byColor
              tooltipValues=row.podStates.byName
            }}
            <small class="text-muted">
              {{row.pods.length}}
            </small>
          </td>
          <td data-title="{{dt.created}}" class="text-right pr-20">
            {{date-str row.created}}
          </td>
          <td data-title="{{dt.actions}}" class="actions">
            {{action-menu model=row}}
          </td>
        </tr>
      {{else if (eq kind "group")}}
      
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'configMapsPage.index.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'configMapsPage.index.noData'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
{{else}}
<section class="row_wrap panel_add type3 kb-panel mb-20">
  <div class="guide_area type12">
    <span class="txt">
      등록된 서비스 앱이 없습니다.<br>
      프로젝트에 필요한 카탈로그 검색 후, 몇 가지 설정만으로 서비스를 설치하실 수 있습니다.<br>
      <strong>‘앱 런치’</strong>을 통해 유용한 서비스를 조회한 후 프로젝트에 필요한 서비스를 설치해 보세요.
    </span>
  </div>
</section>
{{/if}}